<tr data-lcno="099700049161000860" data-isaccepted="false">
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal"           >099700049161000860</a>
    </td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-center">
        2025/06/05
    </td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">未到期</td>
    <td class="text-center">
        <button type="button" class="editItem my-1 px-3 btn btn-sm hnb__btn--default text-nowrap"
                >
            填寫匯票資料
        </button>
    </td>
</tr>
<tr data-lcno="099700049161000861" data-isaccepted="false">
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal"
           >099700049161000861</a>
    </td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-center">
        2025/06/05
    </td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">未到期</td>
    <td class="text-center">
        <button type="button" class="editItem my-1 px-3 btn btn-sm hnb__btn--default text-nowrap">
            填寫匯票資料
        </button>
    </td>
</tr>
<tr data-lcno="099700049161000862" data-isaccepted="true">
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal"
           >099700049161000862</a>
    </td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-center">
        2025/06/05
    </td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">未到期</td>
    <td class="text-center">
        <button type="button" class="editItem my-1 px-3 btn btn-sm hnb__btn--default text-nowrap"
                >
            填寫匯票資料
        </button>
    </td>
</tr>
