<tr data-lcno="099700049161000861">
  <td class="text-center" width="50">1</td>
  <td class="text-center text-nowrap">
    <a href="javascript:reviewLcApp()" class="hnb__link--text">099700017161000861-V-01</a>
  </td>
  <td class="text-center text-nowrap">
    <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal">099700049161000861</a>
  </td>
  <td class="text-center text-nowrap">即期</td>
  <td class="text-center">2025/06/05</td>
  <td class="text-nowrap">網際測試股份有限公司</td>
  <td class="text-center text-nowrap">高雄分行</td>
  <td class="text-nowrap">中國鋼鐵股份有限公司</td>
  <td class="text-center">2025/06/05</td>
</tr>
<tr data-lcno="099700017161000862">
  <td class="text-center" width="50">2</td>
  <td class="text-center text-nowrap">
    <a href="javascript:reviewLcApp()" class="hnb__link--text">099700017161000862-V-02</a>
  </td>
  <td class="text-center text-nowrap">
    <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal">099700017161000862</a>
  </td>
  <td class="text-center text-nowrap">遠期</td>
  <td class="text-center">2025/06/05</td>
  <td class="text-nowrap">網際測試股份有限公司</td>
  <td class="text-center text-nowrap">高雄分行</td>
  <td class="text-nowrap">優勢測試股份有限公司</td>
  <td class="text-center">2025/06/05</td>
</tr>