<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.OpenCreditConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=OpenCredit;Data Source=192.168.200.70,1433" providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.iomConnectionString" connectionString="Data Source=10.100.7.177;Initial Catalog=iom;Persist Security Info=True;User ID=extuser;Password=extuser" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Model.Properties.Settings>
            <setting name="SystemID" serializeAs="String">
                <value>eLocalLC</value>
            </setting>
            <setting name="BankID" serializeAs="String">
                <value>009</value>
            </setting>
            <setting name="urlToCDS" serializeAs="String">
                <value>http://10.100.7.36/CHBGW01/CHB2CDSXML.ashx</value>
            </setting>
            <setting name="CheckSession" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BankTimeoutInMinutes" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="InvoiceResourcePath" serializeAs="String">
                <value>~/resource/invoice</value>
            </setting>
            <setting name="AAUrl" serializeAs="String">
                <value>http://10.100.7.36:8080/eAuthority/DocumentFlow.do</value>
            </setting>
            <setting name="SyncSessionUrl" serializeAs="String">
                <value>http://10.100.7.36:8080/eAuthority/syncSession.do</value>
            </setting>
            <setting name="CheckCertificateUrl" serializeAs="String">
                <value>http://10.100.7.36:8080/eAuthority/checkCertificate.do</value>
            </setting>
            <setting name="FpgConfirm" serializeAs="String">
                <value>https://ecrm.fpg.com.tw:8443/j2sp_LC_009/TestCon.jsp</value>
            </setting>
            <setting name="FpgPost" serializeAs="String">
                <value>https://ecrm.fpg.com.tw:8443/j2sp_LC_009/TestRecv.jsp</value>
            </setting>
            <setting name="FpgRemittanceFtp" serializeAs="String">
                <value>ftp://210.65.204.216/chbcp/online/{0:yyyyMMdd}/in</value>
            </setting>
            <setting name="FpgRemittanceFtpUserName" serializeAs="String">
                <value>chbcptop</value>
            </setting>
            <setting name="FpgRemittanceFtpPWD" serializeAs="String">
                <value>chbcptop</value>
            </setting>
            <setting name="FpgRemittanceUrl" serializeAs="String">
                <value>http://localhost:4949/_test/WebDump.ashx</value>
            </setting>
            <setting name="FpgCheckRemittanceUrl" serializeAs="String">
                <value>http://localhost:4949/_test/WebDump.ashx</value>
            </setting>
            <setting name="CreditAlertCode" serializeAs="String">
                <value>I01,I02,I03,I04,I05,I06,I07,A01,A03,A06,A07,A08,D07,D08,Z99</value>
            </setting>
            <setting name="F0390Check" serializeAs="String">
                <value>18,20,21</value>
            </setting>
            <setting name="AMLCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="AMLRisk" serializeAs="String">
                <value>L,M,H</value>
            </setting>
            <setting name="APID_IDELC" serializeAs="String">
                <value>IDELC</value>
            </setting>
            <setting name="APID_WDELC" serializeAs="String">
                <value>WELC</value>
            </setting>
            <setting name="EnableFpgRemittanceDispatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HandlingChargeBaseAmount" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="HandlingChargeStepAmount" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="ProxyUrlToUXCDS" serializeAs="String">
                <value>http://172.16.71.71:8080/</value>
            </setting>
        </Model.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
