<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EAI.Properties.Settings>
            <setting name="TxnFilePath" serializeAs="String">
                <value>~/resource/Txn</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value>10.100.7.156</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>1416</value>
            </setting>
            <setting name="qManagerName" serializeAs="String">
                <value>CHBMQT01</value>
            </setting>
            <setting name="channelName" serializeAs="String">
                <value>CHBMQT01SVR.IELC</value>
            </setting>
            <setting name="sendQName" serializeAs="String">
                <value>MQ.EA</value>
            </setting>
            <setting name="rcvQName" serializeAs="String">
                <value>EA.IELC</value>
            </setting>
            <setting name="UseEAI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseEAIProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EAIProxy" serializeAs="String">
                <value>http://localhost:4949/Published/EAIProxy.ashx</value>
            </setting>
            <setting name="BS_Host" serializeAs="String">
                <value>10.100.7.156</value>
            </setting>
            <setting name="BS_Port" serializeAs="String">
                <value>1416</value>
            </setting>
            <setting name="BS_QManagerName" serializeAs="String">
                <value>CHBMQT01</value>
            </setting>
            <setting name="BS_QChannelName" serializeAs="String">
                <value>CHBMQT01SVR.IELC</value>
            </setting>
            <setting name="BS_SendQName" serializeAs="String">
                <value>MQ.NOTIFY_SVC_BSNS</value>
            </setting>
            <setting name="BS_RCVQName" serializeAs="String">
                <value>NOTIFY_SVC_BSNS.MQ</value>
            </setting>
            <setting name="BS_UseEAIProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BS_EAIProxy" serializeAs="String">
                <value>http://localhost:7076/Published/BSProxy.ashx</value>
            </setting>
            <setting name="JS_R3801RetryTime" serializeAs="String">
                <value>[
	{"From":"09:00:00","To":"10:00:00"},
	{"From":"14:00:00","To":"15:00:00"}
]</value>
            </setting>
            <setting name="R3801TimeUp" serializeAs="String">
                <value>16:00:00</value>
            </setting>
            <setting name="EAIRetryStartAt" serializeAs="String">
                <value>09:00:00</value>
            </setting>
            <setting name="BR_Host" serializeAs="String">
                <value>10.100.7.155</value>
            </setting>
            <setting name="BR_Port" serializeAs="String">
                <value>1416</value>
            </setting>
            <setting name="BR_QManagerName" serializeAs="String">
                <value>CAPMQT02</value>
            </setting>
            <setting name="BR_QChannelName" serializeAs="String">
                <value>CAPMQT02SVR.EA</value>
            </setting>
            <setting name="BR_SendQName" serializeAs="String">
                <value>EA.DELC_SVC</value>
            </setting>
            <setting name="BR_RCVQName" serializeAs="String">
                <value>EAIMQT02.DELC_SVC.EA</value>
            </setting>
        </EAI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
