<!-- 信用狀 版本 0  視窗 -->
<div class="modal fade" id="lcDetailModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="lcDetailModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
        <form id="accountManagerForm">
            <div class="modal-content hnb__modal">
                <div class="modal-header py-2 border-bottom-0">
                    <h5 class="modal-title fs-5 fw-bolder text--hnb" id="lcDetailModal2Label">
                        <span id="lcType">即期</span>
                        信用狀明細
                    </h5>
                    <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <span class="mdi mdi-close"></span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-12 hnb__bankName text-center">
                                <span class="pe-2">華南商業銀行</span>
                                <span class="fw-bold">建成分行</span>
                            </div>
                            <div class="col-12 py-1 text-center">
                                地址：台北市中正區南海路100號
                            </div>
                            <div class="py-1 col-6">
                                <span class="my-1 fs-1-5 fw-bold">不可撤銷信用狀</span>
                            </div>
                            <div class="py-1 col-6 text-end">
                                日期：中華民國 114 年 5 月 10 日
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm hnb__table hnb__bg--white">
                            <tbody>
                                <tr>
                                    <td width="50%" rowspan="2">
                                        <p class="fw-bold">敬啟者：</p>
                                        <p>本行茲循右列申請人之請求開發本信用狀，本信用狀規定如有未盡事宜適用國際商會所訂現行「信用狀統一慣例與實務」之規定。</p>
                                    </td>
                                    <td>
                                        <span class="fw-bold">信用狀號碼：</span>
                                        <span>099700049161000861</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold">通知銀行編號：</span>
                                        <span>01</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="fw-bold">申請人：</span>優勢股份有限公司

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <span class="fw-bold">通知銀行：</span>華南商業銀行 建成分行
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <span class="fw-bold">金額：</span>新台幣 伍仟萬元整
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <span class="fw-bold">受益人：</span>中鴻鋼鐵股份有限公司
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <span class="fw-bold">受益人地址：</span>高雄縣橋頭鄉芋寮村芋寮路317號
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <span class="fw-bold">受益人電話：</span>07-611-7171
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <span class="fw-bold">Email：</span>
                                        a1b2c3d4e5@example.com
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p class="fw-bold">本信用狀可由上開受益人在不超過上開金額範圍內，依本狀規定條件簽發匯票承兌/付款：</p>
                                        <p class="fw-bold">一、匯票之條件：</p>
                                        <p class="ms-3">
                                            甲、付款人：華南商業銀行 建成分行<br />
                                            乙、付款期限：<span id="lcTypeDate">見票即付。</span><br />
                                            丙、金額：須與相關發票上所列開金額一致，或照本信用狀其他指示。<br />
                                        </p>
                                        <p class="fw-bold">二、應檢附之單據如下：</p>
                                        <ol class="hnb__list--ol">
                                            <li><span class="mdi mdi-square"></span> 匯票付款申請書乙份。</li>
                                            <li><span class="mdi mdi-square-outline"></span> 匯票承兌申請書乙份。</li>
                                            <li><span class="mdi mdi-square"></span> 統一發票。</li>
                                        </ol>
                                        <p class="ms-3 fw-bold">上項單據應載明申請人向受益人購買下列貨物：</p>
                                        <p class="ms-3">鋼品一批</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p class="fw-bold">三、特別指示：</p>
                                        <p>1.電子押匯特別指示條款</p>
                                        <p class="ms-3">
                                            <ol class="hnb__list--ol">
                                                (1)
                                                賣方所提供鋼品之一部或全部，可能產自中國鋼鐵股份有限公司或中龍鋼鐵股份有限公司(下稱中隆公司)，視實際出貨狀況而定，如產自中龍公司，賣方就其鋼品品質，負賣方責任，至如約定價格、各交易條件及優惠措施均不受影響。
                                                <br />
                                                (2) 匯票及匯票付款申請書使用中鋼格式，由受益人單獨簽章或使用數位憑證有效。
                                                <br />
                                                (3) 貨物可以分批交貨。
                                                <br />
                                                (4) 貨物明細以發票為準。
                                                <br />
                                                (5) 發票金額大於匯票金額及發票內容備註「受託代銷」字樣可以接受。
                                                <br />
                                                (6) 本信用狀適用eUCP2.0版。
                                                <br />
                                                (7) 允許受益人以匯票、匯票付款申請書及發票電子檔方式押匯，另「受益人完整提示通知」得附加於匯票付款申請書之最後。
                                                <br />
                                                (8) 押匯電子文件透過網址: HTTPS://CDSLC.UXCDS.COM/CDSLC/ 提示
                                            </ol>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" rowspan="2">
                                        <p>
                                            上述匯票須載明本信用狀之日期及編號並限於有效期限內向本行辦理提示請求承兌/付款。上述單證經審查結果核與本信用狀規定條款相符時，本行保證上開依規定簽發、提示之匯票必能如約獲得承兌/付款。
                                        </p>
                                        <p>
                                            <span class="hnb__bankName me-5">華南商業銀行</span>
                                            <span class="fs-1-5 fw-bold align-bottom">啟</span>
                                        </p>
                                    </td>
                                    <td colspan="2" style="height: 40px;">通知銀行記載</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="align-bottom">
                                        通知銀行之簽章及通知日期
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="my-3 container-fluid">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--default text-nowrap">
                                        <span class="mdi mdi-cloud-download"></span>
                                        下載電子檔
                                    </button>
                                    <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--print text-nowrap">
                                        <span class="mdi mdi-printer"></span>
                                        列印
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card my-3 mx-auto shadow-sm" style="width: 15rem;">
                            <div class="card-body">
                                <h6 class="card-subtitle fw-bold mb-2 text-center text--hnb">修改通知書號碼</h6>
                                <div class="list-group list-group-flush">
                                    <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                                       data-bs-target="#noticeModal">LC123400215_V01</a>
                                    <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                                       data-bs-target="#noticeModal">LC123400215_V02</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center border-top-0">
                    <button type="button" class="my-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-dismiss="modal">
                        關閉
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
