<!-- 修改通知書 視窗 -->
<div class="modal fade" id="noticeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="noticeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
        <div id="noticeModalContent" class="modal-content hnb__modal">
            <!-- 內容將由 AJAX 載入 -->
        </div>
    </div>
</div>
<script>
    $('#noticeModal').on('shown.bs.modal', function (e) {
        // 這裡用 AJAX 載入內容
        $.ajax({
            url: '../LcApp/NoticeModalContent',
            type: 'GET',
            success: function (data) {
                $('#noticeModalContent').html(data);
            },
            error: function () {
                $('#noticeModalContent').html('<div class="p-4 text-danger">載入明細失敗，請稍後再試。</div>');
            }
        });
    });

    $('#noticeModal').on('hidden.bs.modal', function (e) {
        // 清空內容
        $('#noticeModalContent').html('');
    });
</script>
