@{
    Layout = "~/Views/Shared/_MessageModalLayout.cshtml";
}
@section MsgBody {
    <p class="fw-bold hnb__text--green text-center">
        作業已完成！<br>
        您的申請書號碼為<br>
        099700031161000861-V-01
    </p>
}
@section MsgFooter {
    <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default"
            onclick="location.href = 'CancelApp.html'">回註銷申請書</button>
}
