<div class="modal-header py-2 border-bottom-0">
    <h5 class="modal-title fs-5 fw-bolder text--hnb" id="creditModalLabel">
        開狀申請書-授信資料
    </h5>
    <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal" aria-label="Close">
        <span class="mdi mdi-close"></span>
    </button>
</div>
<div class="modal-body bg-light">
    <div class="table-responsive">
        <table class="table table-sm hnb__table hnb__bg--white">
            <tbody>
                <tr>
                    <th width="20%" scope="col" class="hnb__tbhd2 text-nowrap" rowspan="4">定價指標</th>
                    <td colspan="3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="radiobutton" type="radio" id="ra01" value="radiobutton"
                                   checked disabled>
                            <div>按貴行之基準利率加碼年率 0.0100000 % 計息 ( 目前合計為年率 4.0300000 % ) 計息，嗣後貴行基準利率每 1 個月調整時隨同調整，加碼幅度不變。</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="radiobutton" type="radio" id="ra02" value="radiobutton"
                                   disabled>
                            <div>固定利率，按年率 - % 計息。</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="radiobutton" type="radio" id="ra03" value="radiobutton"
                                   disabled>
                            <div>
                                按貴行之貨幣市場 -- 天期均價利率 - 碼 - % ( 目前合計為年率 - % ) 計息，嗣後以貸放日後每滿 - 個月之相對日為利率變動調整日，自調整日起隨同調整，加減碼幅度不變。
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="radiobutton" type="radio" id="ra04" value="radiobutton"
                                   disabled>
                            <div>其他：</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th width="20%" scope="col" class="hnb__tbhd2 text-nowrap">放款戶號</th>
                    <td>12356789 </td>
                    <th width="20%" scope="col" class="hnb__tbhd2 text-nowrap">信用狀金額</th>
                    <td class="text-end">1,000,000</td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">開狀放款核號</th>
                    <td>12313213</td>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">承兌放款核號</th>
                    <td>1234567890</td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">國內信用狀額(限)度</th>
                    <td class="text-end">1,000,000</td>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">額(限)度到期日</th>
                    <td>2025/12/10</td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">國內信用狀餘額(含本件)</th>
                    <td class="text-end">500,000</td>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">貸放經理人ID</th>
                    <td>12345687</td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">徵審主管 ID-A</th>
                    <td>G101057626</td>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">徵審主管 ID-B</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">開狀手續費</th>
                    <td>
                        <div>500</div>
                        <span class="fw-bold">是否扣印花稅：</span>
                        是
                    </td>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">承兌手續費</th>
                    <td>
                        <div>500</div>
                        <span class="fw-bold">是否扣印花稅：</span>
                        是
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">存入保證金比率(%)</th>
                    <td class="text-end">10</td>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">保證金</th>
                    <td class="text-end">500</td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">批次案號</th>
                    <td></td>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">信保通知單編號</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">收款方式</th>
                    <td colspan="3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="authOptions" id="rate1" value="lcType1" checked
                                   disabled>
                            <div>有授權扣帳</div>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="authOptions" id="rate1" value="lcType1"
                                   disabled>
                            <div>無授權扣帳</div>
                        </div>
                        <table class="table table-sm hnb__table hnb__bg--white">
                            <tbody>
                                <tr>
                                    <th width="120" scope="col" class="hnb__tbhd2 text-nowrap">現金：</th>
                                    <td class="text-end">100000</td>
                                </tr>
                                <tr>
                                    <th scope="col" class="hnb__tbhd2 text-nowrap" rowspan="2">支存轉帳：</th>
                                    <td>
                                        <div>
                                            <span class="fw-bold">支票存款帳號 1：</span>
                                            789465213798
                                        </div>
                                        <div>
                                            <span class="fw-bold">支票號碼 1：</span>
                                            132456987
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">金額 1：</span>
                                            <span>1,000</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <span class="fw-bold">支票存款帳號 2：</span>
                                            789465213798
                                        </div>
                                        <div>
                                            <span class="fw-bold">支票號碼 2：</span>
                                            132456987
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">金額 2：</span>
                                            <span>1,000</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="hnb__tbhd2 text-nowrap">活存轉帳：</th>
                                    <td>
                                        <div>
                                            <span class="fw-bold">活期存款帳號： 2：</span>
                                            123546798123
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">第 1 張取款條金額：</span>
                                            <span>2,000</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">第 2 張取款條金額：</span>
                                            <span>1,600</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" class="hnb__tbhd2 text-nowrap">轉出科目：</th>
                                    <td>
                                        <div>
                                            <span class="fw-bold">轉出會計科目：</span>
                                            <span>---</span>
                                        </div>
                                        <div>
                                            <span class="fw-bold">轉出銷帳序號：</span>
                                            <span>----</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class="fw-bold">轉出科目金額：</span>
                                            <span>---</span>
                                        </div>
                                        <div>
                                            <span class="fw-bold">轉出科目摘要：</span>
                                            <span>---</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">現金與轉帳收款金額合計：</span>
                            <span>300,000</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">擔保條件</th>
                    <td colspan="3">XXXXXXX</td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">放款狀號</th>
                    <td colspan="3">123456789012</td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">風險條件</th>
                    <td colspan="3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <span class="fw-bold">風險類別一：</span>
                                    <span>B1 應收信用狀款-存款或存單</span>
                                </div>
                                <div class="col-6">
                                    <span class="fw-bold">風險類別一百分比 %：</span>
                                    <span>100</span>
                                </div>
                                <div class="col-6">
                                    <span class="fw-bold">風險類別二 %：</span>
                                    <span>--</span>
                                </div>
                                <div class="col-6">
                                    <span class="fw-bold">風險類別二百分比 %：</span>
                                    <span>--</span>
                                </div>
                                <div class="col-6">
                                    <span class="fw-bold">風險類別三 %：</span>
                                    <span>--</span>
                                </div>
                                <div class="col-6">
                                    <span class="fw-bold">風險類別三百分比 %：</span>
                                    <span>--</span>
                                </div>
                                <div class="col-6">
                                    <span class="fw-bold">風險類別四 %：</span>
                                    <span>--</span>
                                </div>
                                <div class="col-6">
                                    <span class="fw-bold">風險類別四百分比 %：</span>
                                    <span>--</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="hnb__tbhd2 text-nowrap">防制洗錢及打擊資恐作業</th>
                    <td colspan="3">
                        <div class="py-1 form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="status1" value="option1" checked disabled>
                            <label class="form-check-label" for="status1">
                                已確實於 AML
                                系統辦理線上姓名檢核並填製「新臺幣國內信用狀業務防制洗錢及打擊資恐作業檢核表」。
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="my-3 container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="editItem my-1 px-3 btn btn-sm hnb__btn--default text-nowrap">
                        <span class="mdi mdi-cloud-download"></span>
                        下載電子檔
                    </button>
                    <button type="button" class="editItem my-1 px-3 btn btn-sm hnb__btn--print text-nowrap">
                        <span class="mdi mdi-printer"></span>
                        列印
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-center border-top-0">
    <button type="button" class="my-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-dismiss="modal">
        關閉
    </button>
</div>
