<tr data-lcno="ENID0990000089">
    <td class="text-center" width="50">1</td>
    <td class="text-center text-nowrap">
    <a href="javascript:reviewLcApp();" class="hnb__link--text">ENID0990000089</a>
    </td>
    <td class="text-center text-nowrap">即期</td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-center">2025/06/05</td>
    <td class="text-center">2025/07/05</td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-nowrap">優勢測試股份有限公司</td>
</tr>
<tr data-lcno="ENID0990000090">
    <td class="text-center" width="50">2</td>
    <td class="text-center text-nowrap">
    <a href="javascript:reviewLcApp();" class="hnb__link--text">ENID0990000090</a>
    </td>
    <td class="text-center text-nowrap">即期</td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-center">2025/06/05</td>
    <td class="text-center">2025/07/05</td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-nowrap">優勢測試股份有限公司</td>
</tr>
<tr data-lcno="ENID0990000091">
    <td class="text-center" width="50">3</td>
    <td class="text-center text-nowrap">
    <a href="javascript:reviewLcApp();" class="hnb__link--text">ENID0990000091</a>
    </td>
    <td class="text-center text-nowrap">遠期</td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-center">2025/06/05</td>
    <td class="text-center">2025/07/05</td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-nowrap">優勢測試股份有限公司</td>
</tr>
