@{
    Layout = "~/Views/AmendApp/AmendAppTemplate.cshtml";
}
@section Headers
{
    <!-- flatpick plugin -->
    <link rel="stylesheet" href="../assets/flatpickr/flatpickr.min.css">
    <script src="../assets/flatpickr/flatpickr.js"></script>
    <script src="../assets/flatpickr/zh-tw.js"></script>
}

    <!-- 查詢修改申請書 -->
    <div id="queryForm">
        <form>
            <h1 class="py-2 fs-4 fw-bolder">請選擇查詢方式</h1>
            <div class="mb-2 card">
                <div class="card-body bg-light">
                    <div class="row pb-2">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row">
                                <label for="beneType" class="col-2 col-md-3 col-form-label text-end text-nowrap">受益人類別</label>
                                <div class="col-10 col-md-9">
                                    <select id="beneType" class="form-select form-select-sm">
                                        <option value="" selected>= 請選擇 =</option>
                                        <option value="cds">CDS 客戶 (中鋼、中鴻、中鋁、華新麗華、東和鋼鐵)</option>
                                        <option value="fpc">台塑 e 化平台客戶 (台塑集團、奇美集團)</option>
                                        <option value="other">其他客戶</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0 mb-1 border border-0 border-top border-secondary">
                    <div class="row">
                        <div class="py-1 col-12 d-flex">
                            <div class="pt-2 form-check" style="width:25px;">
                                <input class="form-check-input" type="radio" name="formGroup" id="check1">
                            </div>
                            <div class="row mx-0 flex-grow-1">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="row align-items-center">
                                        <label for="lcNo" class="col-2 col-md-3 col-form-label text-end text-nowrap">信用狀號碼</label>
                                        <div class="py-1 col-10 col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="lcNo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-1 border border-0 border-top border-secondary">
                    <div class="py-1 col-12 d-flex">
                        <div class="pt-2 form-check" style="width:25px;">
                            <input class="form-check-input" type="radio" name="formGroup" id="check3">
                        </div>
                        <div class="row mx-0 flex-grow-1">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row align-items-center">
                                    <label for="beneNo" class="col-2 col-md-3 col-form-label text-end text-nowrap">申請人放款戶號</label>
                                    <div class="py-1 col-10 col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="beneNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row align-items-center">
                                    <label for="beneInNo" class="col-2 col-md-3 col-form-label text-end text-nowrap">受益人統編</label>
                                    <div class="py-1 col-10 col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="beneInNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row align-items-center">
                                    <label for="status" class="col-2 col-md-3 col-form-label text-end text-nowrap">信用狀狀態</label>
                                    <div class="py-1 col-10 col-md-9">
                                        <select id="branchNo" class="form-select form-select-sm">
                                            <option selected>= 請選擇 =</option>
                                            <option>已到期</option>
                                            <option>未到期</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row align-items-center">
                                    <label for="appDate" class="col-2 col-md-3 col-form-label text-end text-nowrap">開狀日期</label>
                                    <div class="py-1 col-10 col-md-9">
                                        <div class="d-flex align-items-center">
                                            <div class="input-group flex-nowrap">
                                                <input type="datetime-local" id="startDate" placeholder="請點選起日"
                                                       class="form-control form-control-sm hnb__calendar">
                                                <label class="input-group-text py-1" for="startDate">
                                                    <span class="mdi mdi-calendar-month"></span>
                                                </label>
                                            </div>
                                            <span class="px-2">~</span>
                                            <div class="input-group flex-nowrap">
                                                <input type="datetime-local" id="endDate" placeholder="請點選訖日"
                                                       class="form-control form-control-sm hnb__calendar">
                                                <label class="input-group-text py-1" for="endDate">
                                                    <span class="mdi mdi-calendar-month"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="pt-1 text-danger text-end text-nowrap">
                                            <span class="text-danger dateAlert pe-2 d-none pe-1">
                                                <span class="mdi mdi-close-thick"></span>
                                                結束日期須晚於開始日期
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end py-1">
                            <button type="reset" id="resetBtn" class="me-2 px-3 btn btn-sm hnb__btn--reset">重設</button>
                            <button type="button" id="searchBtn" class="px-3 btn btn-sm hnb__btn--default text-nowrap"
                                    onclick="searchHandler()">
                                確定
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- 信用狀清冊 -->
    <div id="queryList" class="hnb__hide">
    </div>

    <!-- 填寫修改申請書-CDS -->
    <div id="lcForCdsAppList" class="hnb__hide">
        <h1 class="py-2 fs-4 fw-bolder">填寫修改申請書</h1>
        <div class="mb-2 card">
            <div class="card-body bg-light">
                <form id="lcForCdsAppForm">
                    <div class="table-responsive">
                        <table class="table table-sm hnb__table hnb__bg--white">
                            <tbody>
                                <tr>
                                    <th class="hnb__tbhd2" style="width: 200px">開狀銀行：</th>
                                    <td style="width:35%">
                                        華南商業銀行 高雄分行
                                    </td>
                                    <th class="hnb__tbhd2" style="width: 150px">通知銀行：</th>
                                    <td>
                                        華南商業銀行 高雄分行
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2" style="width: 200px">信用狀別：</th>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="lcTypeOptions" id="rate1" value="lcType1">
                                            <label class="form-check-label" for="lcType1">即期</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="lcTypeOptions" id="rate2" value="lcType2">
                                            <label class="form-check-label" for="lcType2">遠期</label>
                                        </div>
                                    </td>
                                    <th class="hnb__tbhd2" style="width: 150px">付款銀行：</th>
                                    <td>
                                        華南商業銀行 高雄分行
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">金額：</th>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <select id="noticeBranch" class="form-select form-select-sm me-1">
                                                <option value="0" selected>新台幣</option>
                                            </select>
                                            <input type="text" class="form-control form-control-sm" id="payment">
                                            <span class="mx-1 text-nowrap">元整</span>
                                        </div>
                                    </td>
                                    <th class="hnb__tbhd2">
                                        有效期限：
                                    </th>
                                    <td>
                                        <div class="input-group flex-nowrap">
                                            <input type="datetime-local" id="expDate" placeholder="請點選日期"
                                                   class="form-control form-control-sm hnb__calendar" readonly>
                                            <label class="input-group-text py-1" for="expDate">
                                                <span class="mdi mdi-calendar-month"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人名稱：</th>
                                    <td colspan="3">
                                        中國鋼鐵股份有限公司
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人地址：</th>
                                    <td colspan="3">
                                        <input type="text" class="form-control form-control-sm" id="address" value="高雄市小港區中鋼路1號">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2" style="width: 200px">申請人：</th>
                                    <td colspan="3">
                                        <input type="text" class="form-control form-control-sm" id="applicantName" value="林大華">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">申請人地址：</th>
                                    <td colspan="3">
                                        <input type="text" class="form-control form-control-sm" id="cAddress" value="台北市中正區羅斯福路一段120號">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">Email：</th>
                                    <td colspan="3">
                                        <input type="text" class="form-control form-control-sm" id="email" value="a1b2c3d4e5@example.com">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">付款期限：</th>
                                    <td colspan="3">
                                        見票即付。
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">貨物名稱：</th>
                                    <td colspan="3">
                                        <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1"
                                                  rows="3">鋼捲2捆</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">電子押匯之特別指示條款：</th>
                                    <td colspan="3">
                                        <div class="container-fluid">
                                            <div class="row align-items-center">
                                                <div class="col-12 my-1">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="noteOptions" id="note1"
                                                               value="option1">
                                                        <label class="form-check-label fw-bold" for="note1">中鋼之電子押匯特別指示條款</label>
                                                        <ol class="hnb__list--ol">
                                                            <li>
                                                                賣方所提供鋼品之一部或全部，可能產自中國鋼鐵公司或中龍鋼鐵公司，視實際出貨狀況而定。如產自中龍鋼鐵公司，賣方就其鋼品品質，負賣方責任，至如約定價格，各交易條件及優惠措施均不受影響。
                                                            </li>
                                                            <li> 匯票及匯票付款申請書使用中鋼格式，由受益人單獨簽章或使用數位憑證有效。</li>
                                                            <li> 貨物可以分批交貨。</li>
                                                            <li> 發票金額大於匯票金額及發票內容備註「受託代銷」字樣可以接受。</li>
                                                            <li> 以受益人所屬分公司或分廠名義開立之發票押匯可以接受。</li>
                                                            <li> 本信用狀適用 eUCP1.1 版。</li>
                                                            <li> 允許受益人以匯票、匯票付款申請書及發票電子檔方式押匯，另「受益人完整提示通知」得附加於匯票付款申請書之最後。</li>
                                                            <li> 押匯電子文件透過網址：HTTPS://CDSLC.UXCDS.COM/CDSLC/ 提示。</li>
                                                        </ol>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="noteOptions" id="note2"
                                                               value="option2">
                                                        <label class="form-check-label fw-bold" for="note2">自行填寫電子押匯特別指示條款</label>
                                                    </div>
                                                    <div class="ps-3">
                                                        <textarea name="textarea1" class="form-control form-control-sm" rows="7" disabled>
      1.賣方所提供鋼品之一部或全部，可能產自中國鋼鐵公司或中龍鋼鐵公司，視實際出貨狀況而定。如產自中龍鋼鐵公司，賣方就其鋼品品質，負賣方責任，至如約定價格，各交易條件及優惠措施均不受影響。  
      2.匯票及匯票付款申請書使用中鋼格式，由受益人單獨簽章或使用數位憑證有效。
      貨物可以分批交貨。
      3.發票金額大於匯票金額及發票內容備註「受託代銷」字樣可以接受。
      4.以受益人所屬分公司或分廠名義開立之發票押匯可以接受。
      5.本信用狀適用 eUCP1.1 版。
      6.允許受益人以匯票、匯票付款申請書及發票電子檔方式押匯，另「受益人完整提示通知」得附加於匯票付款申請書之最後。
      7.押匯電子文件透過網址：HTTPS://CDSLC.UXCDS.COM/CDSLC/ 提示。
                                  </textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-1">
                                                    <span class="fw-bold">檢附單據：</span>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="deliverOptions" id="deliver1"
                                                               value="option1">
                                                        <label class="form-check-label" for="deliver1">匯票付款申請書乙份</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="deliverOptions" id="deliver2"
                                                               value="option2">
                                                        <label class="form-check-label" for="deliver2">統一發票</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="deliverOptions" id="deliver3"
                                                               value="option3">
                                                        <label class="form-check-label" for="deliver2">
                                                            其他
                                                        </label>
                                                    </div>
                                                    <div class="ps-3">
                                                        <textarea name="textarea" class="form-control form-control-sm"
                                                                  rows="3">~請填寫其他應檢附之單據~</textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-1">
                                                    <span class="fw-bold">特別指示條款：</span><br>
                                                    <span>分批交貨：</span>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="rateOptions" id="rate1" value="option1"
                                                               checked>
                                                        <label class="form-check-label" for="rate1">可以</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="rateOptions" id="rate2"
                                                               value="option2">
                                                        <label class="form-check-label" for="rate2">不可以</label>
                                                    </div>
                                                    ( 未填者視為得分批交貨 )。
                                                </div>
                                                <div class="col-12 my-1 d-flex align-items-center">
                                                    <span class="fw-bold">最後交貨日期：</span>
                                                    <div class="mx-2 input-group flex-nowrap d-inline-flex" style="width:200px;">
                                                        <input type="datetime-local" id="deliveryDate1" placeholder="請點選日期"
                                                               class="form-control form-control-sm hnb__calendar" readonly>
                                                        <label class="input-group-text py-1" for="deliveryDate1">
                                                            <span class="mdi mdi-calendar-month"></span>
                                                        </label>
                                                    </div>
                                                    ( 未填者自開狀日起三個月視為最後交貨日 )。
                                                </div>
                                                <div class="col-12 my-1">
                                                    <span class="fw-bold">其他：</span>
                                                    <textarea class="form-control form-control-sm" name="otherNote" placeholder="~ 其他特別指示條款 ~"
                                                              rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#promptModal">
                            取消
                        </button>
                        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--print text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#reviewCdsLcAppModal">
                            預覽
                        </button>
                        <span class="mx-2">|</span>
                        <button type="reset" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap">
                            重填
                        </button>
                        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--default text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#confirmPromptModal">
                            確定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 填寫修改申請書-台塑 -->
    <div id="lcAppList" class="hnb__hide">
        <h1 class="py-2 fs-4 fw-bolder">填寫開狀申請書</h1>
        <div class="mb-2 card">
            <div class="card-body bg-light">
                <form id="lcAppForm">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-12 py-1 hnb__bankName text-center">
                                開發國內不可撤銷信用狀申請書
                            </div>
                            <div class="py-1 col-12 text-center">
                                114 年 5 月 10 日
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm hnb__table hnb__bg--white">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <p class="fw-bold">
                                            華南商業銀行 台北分行 台鋻
                                        </p>
                                        <ol class="mb-0 hnb__list--ol">
                                            <li>
                                                茲請 　貴行准照前訂委任開發國內信用狀契約之約定依下開條件開發信用狀。
                                            </li>
                                            <li>
                                                本信用狀規定如有未盡事宜適用國際商會所訂現行「信用狀統一慣例與實務」之規定。
                                            </li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2" style="width: 300px">申請人：</th>
                                    <td>
                                        鈞源鋼鐵
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">申請人統一編號：</th>
                                    <td>
                                        900000001
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">金額：</th>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mx-1 text-nowrap">新台幣</span>
                                            <input type="text" class="form-control form-control-sm" id="payment" value="80000">
                                            <span class="mx-1 text-nowrap">元整</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2 text-nowrap">
                                        有效期限至：<br>
                                        ( 未填者自開狀日三個月視為最後有效期限 )
                                    </th>
                                    <td>
                                        <div class="input-group flex-nowrap">
                                            <input type="datetime-local" id="expDate" placeholder="請點選日期"
                                                   class="form-control form-control-sm hnb__calendar" style="max-width: 180px" value="2025/08/25"
                                                   readonly>
                                            <label class="input-group-text py-1" for="expDate">
                                                <span class="mdi mdi-calendar-month"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">通知銀行：( 如有需要指定銀行時請填上 )</th>
                                    <td>
                                        221 桃園分行
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人：</th>
                                    <td>
                                        鈞源鋼鐵
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人之負責人：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="cNo" value="洪OO">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">負責人職稱：</th>
                                    <td>
                                        <select id="dep" class="form-select form-select-sm">
                                            <option value="0">= 請選擇 =</option>
                                            <option selected>董事長</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人地址：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="cNo" value="彰化縣彰O市中O里OO路3段OO號">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人電話：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="phone" value="123456789">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人電子信箱：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="email" value="xty@abc.com">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">付款期限：</th>
                                    <td colspan="3">
                                        見票即付。
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">貨物名稱：</th>
                                    <td colspan="3">
                                        <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1"
                                                  rows="3">鋼捲2捆</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">電子押匯之特別指示條款：</th>
                                    <td colspan="3">
                                        <div class="container-fluid">
                                            <div class="row align-items-center">
                                                <div class="col-12 my-1">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="noteOptions" id="note1"
                                                               value="option1">
                                                        <label class="form-check-label fw-bold" for="note1">中鋼之電子押匯特別指示條款</label>
                                                        <ol class="hnb__list--ol">
                                                            <li>
                                                                賣方所提供鋼品之一部或全部，可能產自中國鋼鐵公司或中龍鋼鐵公司，視實際出貨狀況而定。如產自中龍鋼鐵公司，賣方就其鋼品品質，負賣方責任，至如約定價格，各交易條件及優惠措施均不受影響。
                                                            </li>
                                                            <li> 匯票及匯票付款申請書使用中鋼格式，由受益人單獨簽章或使用數位憑證有效。</li>
                                                            <li> 貨物可以分批交貨。</li>
                                                            <li> 發票金額大於匯票金額及發票內容備註「受託代銷」字樣可以接受。</li>
                                                            <li> 以受益人所屬分公司或分廠名義開立之發票押匯可以接受。</li>
                                                            <li> 本信用狀適用 eUCP1.1 版。</li>
                                                            <li> 允許受益人以匯票、匯票付款申請書及發票電子檔方式押匯，另「受益人完整提示通知」得附加於匯票付款申請書之最後。</li>
                                                            <li> 押匯電子文件透過網址：HTTPS://CDSLC.UXCDS.COM/CDSLC/ 提示。</li>
                                                        </ol>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="noteOptions" id="note2"
                                                               value="option2">
                                                        <label class="form-check-label fw-bold" for="note2">自行填寫電子押匯特別指示條款</label>
                                                    </div>
                                                    <div class="ps-3">
                                                        <textarea name="textarea1" class="form-control form-control-sm" rows="7" disabled>
      1.賣方所提供鋼品之一部或全部，可能產自中國鋼鐵公司或中龍鋼鐵公司，視實際出貨狀況而定。如產自中龍鋼鐵公司，賣方就其鋼品品質，負賣方責任，至如約定價格，各交易條件及優惠措施均不受影響。  
      2.匯票及匯票付款申請書使用中鋼格式，由受益人單獨簽章或使用數位憑證有效。
      貨物可以分批交貨。
      3.發票金額大於匯票金額及發票內容備註「受託代銷」字樣可以接受。
      4.以受益人所屬分公司或分廠名義開立之發票押匯可以接受。
      5.本信用狀適用 eUCP1.1 版。
      6.允許受益人以匯票、匯票付款申請書及發票電子檔方式押匯，另「受益人完整提示通知」得附加於匯票付款申請書之最後。
      7.押匯電子文件透過網址：HTTPS://CDSLC.UXCDS.COM/CDSLC/ 提示。
                                  </textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-1">
                                                    <span class="fw-bold">檢附單據：</span>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="deliverOptions" id="deliver1"
                                                               value="option1">
                                                        <label class="form-check-label" for="deliver1">匯票付款申請書乙份</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="deliverOptions" id="deliver2"
                                                               value="option2">
                                                        <label class="form-check-label" for="deliver2">統一發票</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="deliverOptions" id="deliver3"
                                                               value="option3">
                                                        <label class="form-check-label" for="deliver2">
                                                            其他
                                                        </label>
                                                    </div>
                                                    <div class="ps-3">
                                                        <textarea name="textarea" class="form-control form-control-sm"
                                                                  rows="3">~請填寫其他應檢附之單據~</textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-1">
                                                    <span class="fw-bold">特別指示條款：</span><br>
                                                    <span>分批交貨：</span>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="rateOptions" id="rate1" value="option1"
                                                               checked>
                                                        <label class="form-check-label" for="rate1">可以</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="rateOptions" id="rate2"
                                                               value="option2">
                                                        <label class="form-check-label" for="rate2">不可以</label>
                                                    </div>
                                                    ( 未填者視為得分批交貨 )。
                                                </div>
                                                <div class="col-12 my-1 d-flex align-items-center">
                                                    <span class="fw-bold">最後交貨日期：</span>
                                                    <div class="mx-2 input-group flex-nowrap d-inline-flex" style="width:200px;">
                                                        <input type="datetime-local" id="deliveryDate1" placeholder="請點選日期"
                                                               class="form-control form-control-sm hnb__calendar" readonly>
                                                        <label class="input-group-text py-1" for="deliveryDate1">
                                                            <span class="mdi mdi-calendar-month"></span>
                                                        </label>
                                                    </div>
                                                    ( 未填者自開狀日起三個月視為最後交貨日 )。
                                                </div>
                                                <div class="col-12 my-1">
                                                    <span class="fw-bold">其他：</span>
                                                    <textarea class="form-control form-control-sm" name="otherNote" placeholder="~ 其他特別指示條款 ~"
                                                              rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#promptModal">
                            取消
                        </button>
                        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--print text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#reviewLcAppModal">
                            預覽
                        </button>
                        <span class="mx-2">|</span>
                        <button type="reset" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap">
                            重填
                        </button>
                        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--default text-nowrap" onclick="confirmReview()">
                            確定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 填寫修改申請書-其他 -->
    <div id="lcforOtherAppList" class="hnb__hide">
        <h1 class="py-2 fs-4 fw-bolder">填寫修改申請書</h1>
        <div class="mb-2 card">
            <div class="card-body bg-light">
                <form id="lcAppForm">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-12 py-1 hnb__bankName text-center">
                                開發國內不可撤銷信用狀申請書
                            </div>
                            <div class="py-1 col-12 text-center">
                                114 年 5 月 10 日
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm hnb__table hnb__bg--white">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <p class="fw-bold">
                                            華南商業銀行 台北分行 台鋻
                                        </p>
                                        <ol class="mb-0 hnb__list--ol">
                                            <li>
                                                茲請 　貴行准照前訂委任開發國內信用狀契約之約定依下開條件開發信用狀。
                                            </li>
                                            <li>
                                                本信用狀規定如有未盡事宜適用國際商會所訂現行「信用狀統一慣例與實務」之規定。
                                            </li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2" style="width: 300px">申請人：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="appName">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">申請人統一編號：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="appNo">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">金額：</th>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="mx-1 text-nowrap">新台幣</span>
                                            <input type="text" class="form-control form-control-sm" id="payment">
                                            <span class="mx-1 text-nowrap">元整</span>
                                        </div>
                                    </td>
                                    <th class="hnb__tbhd2">
                                        有效期限至：
                                    </th>
                                    <td>
                                        <div class="input-group flex-nowrap">
                                            <input type="datetime-local" id="expDate" placeholder="請點選日期"
                                                   class="form-control form-control-sm hnb__calendar" style="max-width: 180px" readonly>
                                            <label class="input-group-text py-1" for="expDate">
                                                <span class="mdi mdi-calendar-month"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">通知銀行：( 如有需要指定銀行時請填上 )</th>
                                    <td>
                                        <select id="noticeBranch" class="form-select form-select-sm">
                                            <option value="0" selected="">= 請選擇 =</option>
                                            <option>125 彰化分行</option>
                                            <option>221 桃園分行</option>
                                            <option>023 南港分行</option>
                                            <option>001 台北分行</option>
                                        </select>
                                        <div class="my-1 hnb__text--red">
                                            ＊ 如為長春分行，受益人僅限台灣新力公司
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人：</th>
                                    <td>
                                        <div class="container-fluid">
                                            <div class="row align-items-center">
                                                <div class="col-1 my-1 text-nowrap">
                                                    統一編號：
                                                </div>
                                                <div class="col-11 my-1">
                                                    <input type="text" class="form-control form-control-sm" name="beneNo2">
                                                </div>
                                                <div class="col-1 my-1 text-nowrap">
                                                    名稱：
                                                </div>
                                                <div class="col-11 my-1">
                                                    <input type="text" class="form-control form-control-sm" name="beneName2">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人之負責人：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="manager">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">負責人職稱：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="lcNo">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人地址：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="address">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人電話：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="phone">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">受益人電子信箱：</th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" id="email">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="fw-bold">
                                        本信用狀可由上開受益人在不超過上開金額範圍內依本狀規定條件簽發匯票承兌/付款，該匯票之條件：
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="fw-bold">
                                        一、匯票之條件：
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">甲、付款人：</th>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            華南商業銀行 台北分行
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">乙、付款期限：</th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="paymentDate" id="imd">
                                            <label class="form-check-label" for="imd">
                                                見票即付。
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="paymentDate" id="payDate">
                                            <label class="form-check-label" for="payDate">
                                                以「 定日付款 」方式填寫到期日，其到期日為：
                                            </label>
                                        </div>
                                        <div class="ms-4">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="paymentExpDate" id="paymentExpDate1">
                                                <label class="form-check-label" for="paymentExpDate1">
                                                    匯票發票日
                                                </label>
                                            </div>
                                            <div class="form-check d-flex align-items-center">
                                                <input class="form-check-input" type="radio" name="paymentExpDate" id="paymentExpDate2">
                                                <label class="px-2 form-check-label d-flex align-items-center" for="paymentExpDate2">
                                                    統一發票日
                                                </label>
                                            </div>
                                            <div class="form-check d-flex align-items-center">
                                                <input class="form-check-input" type="radio" name="paymentExpDate" id="paymentExpDate3">
                                                <label class="px-2 form-check-label d-flex align-items-center" for="paymentExpDate3">
                                                    其他：
                                                    <input type="text" class="mx-1 form-control form-control-sm" id="payDate"
                                                           style="width:200px">
                                                </label>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                起算
                                                <input type="text" class="mx-1 form-control form-control-sm" id="payDate" style="width:30px">
                                                天內。
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">丙、金額：</th>
                                    <td>
                                        須與相關發票上所列開金額一致。
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">丁、應檢附之單證：</th>
                                    <td>
                                        <div class="container-fluid">
                                            <div class="row align-items-center">
                                                <div class="col-12 my-1">
                                                    1. 匯票承兌/付款申請書乙份。
                                                </div>
                                                <div class="col-12 my-1">
                                                    2.
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="invoiceOptions" id="invoice1"
                                                               value="option1">
                                                        <label class="form-check-label" for="invoice1">發票</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="invoiceOptions" id="invoice2"
                                                               value="option2">
                                                        <label class="form-check-label" for="invoice2">統一發票</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-1">
                                                    3. 其他 ( 請註明 )：
                                                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1"
                                                              rows="3"></textarea>
                                                </div>
                                                <div class="col-12 my-1">
                                                    4. 上項單據應載明申請人向受益人購買下列產品：
                                                    <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1"
                                                              rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hnb__tbhd2">特別指示：</th>
                                    <td>
                                        <div class="container-fluid">
                                            <div class="row align-items-center">
                                                <div class="col-12 my-1">
                                                    1. 匯票及匯票付款申請書使用受益人所訂格式，由受益人單獨簽章或使用數位憑證有效。
                                                </div>
                                                <div class="col-12 my-1">
                                                    2. 貨物可以分批交貨。
                                                </div>
                                                <div class="col-12 my-1">
                                                    3. 最後交貨日期：
                                                    <div class="mx-2 input-group flex-nowrap d-inline-flex" style="max-width: 180px">
                                                        <input type="datetime-local" id="deliveryDate" placeholder="請點選日期"
                                                               class="form-control form-control-sm hnb__calendar" readonly>
                                                        <label class="input-group-text py-1" for="deliveryDate">
                                                            <span class="mdi mdi-calendar-month"></span>
                                                        </label>
                                                    </div>
                                                    ( 未填者自開狀日起三個月視為最後交貨日，惟不得超過信用狀有效日期 )。
                                                </div>
                                                <div class="col-12 my-1">
                                                    4. 發票日期早於開狀日期可以接受。
                                                </div>
                                                <div class="col-12 my-1">
                                                    5. 發票金額大於開狀金額或匯票金額可以接受。
                                                </div>
                                                <div class="col-12 my-1">
                                                    6. 以受益人所屬分公司或分廠名義開立之發票押匯可以接受。
                                                </div>
                                                <div class="col-12 my-1">
                                                    7. 本信狀適用 eUCP2.0 版。
                                                </div>
                                                <div class="col-12 my-1">
                                                    8. 允許受益人以匯票、匯票付款申請書及發票電子檔方式押匯。
                                                </div>
                                                <div class="col-12 my-1">
                                                    9. 押匯電子文件透過網址: HTTPS://ecrm.fpg.com.tw 提示。
                                                </div>
                                                <div class="col-12 my-1">
                                                    10. 遠期信用狀利息：
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" name="rateOptions" id="fee1"
                                                               value="option1">
                                                        <label class="form-check-label" for="fee1">買方負擔</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-1">
                                                    11. 其他：
                                                    <textarea class="form-control form-control-sm" name="otherNote" placeholder="~ 其他特別指示條款 ~"
                                                              rows="3"></textarea>
                                                </div>
                                                <div class="col-12 my-1">
                                                    12.限定押匯日期：自
                                                    <div class="mx-2 input-group flex-nowrap d-inline-flex" style="max-width: 180px">
                                                        <input type="datetime-local" id="lnd" placeholder="請點選日期"
                                                               class="form-control form-control-sm hnb__calendar" readonly>
                                                        <label class="input-group-text py-1" for="lnd">
                                                            <span class="mdi mdi-calendar-month"></span>
                                                        </label>
                                                    </div>
                                                    起始可押匯。( 未填寫者視為未限定押匯日期 )
                                                </div>
                                                <div class="col-12 my-1">
                                                    13.發票起始開立日期：
                                                    <div class="mx-2 input-group flex-nowrap d-inline-flex" style="max-width: 180px">
                                                        <input type="datetime-local" id="InvStartDate" placeholder="請點選日期"
                                                               class="form-control form-control-sm hnb__calendar" readonly>
                                                        <label class="input-group-text py-1" for="InvStartDate">
                                                            <span class="mdi mdi-calendar-month"></span>
                                                        </label>
                                                    </div>
                                                    。( 以統一發票日起算匯票到其日期者，請填寫此項，未填寫者視為未限制發票開立日期 )
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#promptModal">
                            取消
                        </button>
                        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--print text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#reviewOtherLcAppModal">
                            預覽
                        </button>
                        <span class="mx-2">|</span>
                        <button type="reset" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap">
                            重填
                        </button>
                        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--default text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#confirmPromptModal">
                            確定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <!-- 預覽修改申請書-CDS 視窗 -->
  <div class="modal fade" id="reviewCdsLcAppModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="reviewCdsLcAppModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
      <div class="modal-content hnb__modal">
        <div class="modal-header py-2 border-bottom-0">
          <h5 class="modal-title fs-5 fw-bolder text--hnb" id="reviewCdsLcAppModalLabel">
            信用狀修改申請書
          </h5>
          <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal" aria-label="Close">
            <span class="mdi mdi-close"></span>
          </button>
        </div>
        <div class="modal-body bg-light">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-12 py-1 hnb__bankName text-center">
                華南銀行 高雄分行
              </div>
              <div class="col-12 py-1 hnb__bankName text-center">
                國內信用狀修改申請書
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm hnb__table hnb__bg--white">
              <tbody>
                <tr>
                  <td colspan="2">
                    <div class="container-fluid">
                      <div class="row align-items-center">
                        <div class="py-1 col-6">
                          <span class="fw-bold">修改編號：</span>第 1 次
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">修改日期：</span>民國 114 年 3 月 25 日
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">信用狀號碼：</span>099700049161000861
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">金額：</span>新台幣 陸仟萬元整
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">通知銀行：</span>華南商業銀行 台北分行
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">通知銀行編號：</span>01
                        </div>
                        <div class="py-1 col-12">
                          <span class="fw-bold">受益人：</span>中鴻鋼鐵股份有限公司
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">地址：</span>高雄縣橋頭鄉芋寮村芋寮路317號
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">有效期限至：</span>至民國 114 年 3 月 31 日
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">Email：</span>a1b2c3d4e5@example.com
                        </div>
                        <div class="py-1 col-12">
                          <span class="fw-bold">申請修改事項：</span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td width="50%" class="text-center">
                    <span class="fw-bold">原規定情形</span>
                  </td>
                  <td width="50%" class="text-center">
                    <span class="fw-bold">修改情形</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      <span class="fw-bold">金額：</span>
                      <br>
                      新台幣 陸仟萬元整
                    </p>
                    <p>
                      <span class="fw-bold">有效期限：</span>
                      <br>
                      114/04/30
                    </p>
                    <p>
                      <span class="fw-bold">受益人地址：</span><br>
                      高雄市小港區中鋼路10號
                    </p>
                    <p>
                      <span class="fw-bold">貨物名稱：</span><br>
                      測試鐵架一組
                    </p>
                  </td>
                  <td>
                    <p>
                      <span class="fw-bold">金額：</span>
                      <br>
                      新台幣 陸仟壹佰萬元整
                    </p>
                    <p>
                      <span class="fw-bold">有效期限：</span><br>
                      114/05/31
                    </p>
                    <p>
                      <span class="fw-bold">受益人地址：</span><br>
                      高雄市小港區中鋼路100號
                    </p>
                    <p>
                      <span class="fw-bold">貨物名稱：</span><br>
                      測試鐵架二組
                    </p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-8">
                          <span class="me-2 fw-bold">申請人：</span>林大華<br>
                          <span class="me-2 fw-bold">地址：</span>台北市羅斯福路一段100號<br>
                          <span class="me-2 fw-bold">電話：</span>02-12345678<br>
                          <span class="me-2 fw-bold">日期：</span>民國 114 年 3 月 25 日
                        </div>
                        <div class="col-4 text-center">
                          <span class="px-3">
                            <img src="../assets/images/cds_03.gif">
                          </span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer justify-content-center border-top-0">
          <button type="button" class="my-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-dismiss="modal">
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 預覽修改申請書-台塑 視窗 -->
  <div class="modal fade" id="reviewLcAppModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editLcAppModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
      <div class="modal-content hnb__modal">
        <div class="modal-header py-2 border-bottom-0">
          <h5 class="modal-title fs-5 fw-bolder text--hnb" id="editLcAppModalLabel">
            信用狀修改申請書
          </h5>
          <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal" aria-label="Close">
            <span class="mdi mdi-close"></span>
          </button>
        </div>
        <div class="modal-body bg-light">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-12 py-1 hnb__bankName text-center">
                華南銀行 高雄分行
              </div>
              <div class="col-12 py-1 hnb__bankName text-center">
                國內信用狀修改申請書
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm hnb__table hnb__bg--white">
              <tbody>
                <tr>
                  <td colspan="2">
                    <div class="container-fluid">
                      <div class="row align-items-center">
                        <div class="py-1 col-6">
                          <span class="fw-bold">修改編號：</span>第 1 次
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">修改日期：</span>民國 114 年 3 月 25 日
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">信用狀號碼：</span>099700049161000861
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">金額：</span>新台幣陸仟萬元整
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">通知銀行：</span>華南商業銀行 台北分行
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">通知銀行編號：</span>01
                        </div>
                        <div class="py-1 col-12">
                          <span class="fw-bold">受益人：</span>台灣塑膠工業股份有限公司
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">地址：</span>高雄縣中山路39號
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">有效期限至：</span>至民國 114 年 3 月 31 日
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">Email：</span>a1b2c3d4e5@example.com
                        </div>
                        <div class="py-1 col-12">
                          <span class="fw-bold">申請修改事項：</span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td width="50%" class="text-center">
                    <span class="fw-bold">原規定情形</span>
                  </td>
                  <td width="50%" class="text-center">
                    <span class="fw-bold">修改情形</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      <span class="fw-bold">金額：</span>
                      <br>
                      新台幣 陸仟萬元整
                    </p>
                    <p>
                      <span class="fw-bold">有效期限：</span>
                      <br>
                      114/04/30
                    </p>
                    <p>
                      <span class="fw-bold">受益人電話：</span><br>
                      07-12345678
                    </p>
                    <p>
                      <span class="fw-bold">貨物名稱：</span><br>
                      測試水泥一車
                    </p>
                  </td>
                  <td>
                    <p>
                      <span class="fw-bold">金額：</span>
                      <br>
                      新台幣 陸仟壹佰萬元整
                    </p>
                    <p>
                      <span class="fw-bold">有效期限：</span><br>
                      114/05/31
                    </p>
                    <p>
                      <span class="fw-bold">受益人電話：</span><br>
                      07-87654321
                    </p>
                    <p>
                      <span class="fw-bold">貨物名稱：</span><br>
                      測試水泥二車
                    </p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-8">
                          <span class="me-2 fw-bold">申請人：</span>林大華<br>
                          <span class="me-2 fw-bold">地址：</span>台北市羅斯福路一段100號<br>
                          <span class="me-2 fw-bold">電話：</span>02-12345678<br>
                          <span class="me-2 fw-bold">日期：</span>民國 114 年 3 月 25 日
                        </div>
                        <div class="col-4 text-center">
                          <span class="px-3">
                            <img src="../assets/images/cds_03.gif">
                          </span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer justify-content-center border-top-0">
          <button type="button" class="my-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-dismiss="modal">
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 預覽修改申請書-其他 視窗 -->
  <div class="modal fade" id="reviewOtherLcAppModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="reviewOtherLcAppModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
      <div class="modal-content hnb__modal">
        <div class="modal-header py-2 border-bottom-0">
          <h5 class="modal-title fs-5 fw-bolder text--hnb" id="reviewOtherLcAppModelLabel">
            信用狀修改申請書
          </h5>
          <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal" aria-label="Close">
            <span class="mdi mdi-close"></span>
          </button>
        </div>
        <div class="modal-body bg-light">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-12 py-1 hnb__bankName text-center">
                華南銀行 高雄分行
              </div>
              <div class="col-12 py-1 hnb__bankName text-center">
                國內信用狀修改申請書
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm hnb__table hnb__bg--white">
              <tbody>
                <tr>
                  <td colspan="2">
                    <div class="container-fluid">
                      <div class="row align-items-center">
                        <div class="py-1 col-6">
                          <span class="fw-bold">修改編號：</span>第 1 次
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">修改日期：</span>民國 114 年 3 月 25 日
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">信用狀號碼：</span>099700049161000861
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">金額：</span>新台幣陸仟萬元整
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">通知銀行：</span>華南商業銀行 台北分行
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">通知銀行編號：</span>01
                        </div>
                        <div class="py-1 col-12">
                          <span class="fw-bold">受益人：</span>網際優勢股份有限公司
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">地址：</span>台北市中正區中山路390號
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">有效期限至：</span>至民國 114 年 3 月 31 日
                        </div>
                        <div class="py-1 col-6">
                          <span class="fw-bold">Email：</span>a1b2c3d4e5@example.com
                        </div>
                        <div class="py-1 col-12">
                          <span class="fw-bold">申請修改事項：</span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td width="50%" class="text-center">
                    <span class="fw-bold">原規定情形</span>
                  </td>
                  <td width="50%" class="text-center">
                    <span class="fw-bold">修改情形</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      <span class="fw-bold">金額：</span>
                      <br>
                      新台幣 陸仟萬元整
                    </p>
                    <p>
                      <span class="fw-bold">有效期限：</span>
                      <br>
                      114/04/30
                    </p>
                    <p>
                      <span class="fw-bold">受益人電話：</span><br>
                      07-12345678
                    </p>
                    <p>
                      <span class="fw-bold">貨物名稱：</span><br>
                      測試水泥一車
                    </p>
                  </td>
                  <td>
                    <p>
                      <span class="fw-bold">金額：</span>
                      <br>
                      新台幣 陸仟壹佰萬元整
                    </p>
                    <p>
                      <span class="fw-bold">有效期限：</span><br>
                      114/05/31
                    </p>
                    <p>
                      <span class="fw-bold">受益人電話：</span><br>
                      07-87654321
                    </p>
                    <p>
                      <span class="fw-bold">貨物名稱：</span><br>
                      測試水泥二車
                    </p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-8">
                          <span class="me-2 fw-bold">申請人：</span>林大華<br>
                          <span class="me-2 fw-bold">地址：</span>台北市羅斯福路一段100號<br>
                          <span class="me-2 fw-bold">電話：</span>02-12345678<br>
                          <span class="me-2 fw-bold">日期：</span>民國 114 年 3 月 25 日
                        </div>
                        <div class="col-4 text-center">
                          <span class="px-3">
                            <img src="../assets/images/cds_03.gif">
                          </span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer justify-content-center border-top-0">
          <button type="button" class="my-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-dismiss="modal">
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>

    @{
        await Html.RenderPartialAsync("~/Views/AmendApp/Module/LcDetailModal.cshtml");
    }
  <!-- 訊息 視窗 -->
  <div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content hnb__modal">
        <div class="modal-header py-2 border-bottom-0">
          <h5 class="modal-title fs-5 fw-bolder text--hnb" id="messageModalLabel">
            作業訊息
          </h5>
          <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal" aria-label="Close">
            <span class="mdi mdi-close"></span>
          </button>
        </div>
        <div id="msgBody" class="modal-body bg-light"></div>
        <div id="msgFooter" class="modal-footer justify-content-center border-top-0"></div>
      </div>
    </div>
  </div>

  <!-- 訊息 視窗 -->
  <div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <form id="accountManagerForm">
        <div class="modal-content hnb__modal">
          <div class="modal-header py-2 border-bottom-0">
            <h5 class="modal-title fs-5 fw-bolder text--hnb" id="confirmModalLabel">
              作業訊息
            </h5>
            <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal"
              aria-label="Close">
              <span class="mdi mdi-close"></span>
            </button>
          </div>
          <div class="modal-body bg-light">
            <p class="fw-bold hnb__text--green text-center">
              作業已完成！<br>
              您的申請書號碼為<br>
              099700031161000861-A-01
            </p>
          </div>
          <div class="modal-footer justify-content-center border-top-0">
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default"
              onclick="location.href = 'AmendApp.html'">回修改申請書</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- 確認選擇訊息 視窗 -->
  <div class="modal fade" id="confirmPromptModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="confirmPromptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <form id="accountManagerForm">
        <div class="modal-content hnb__modal">
          <div class="modal-header py-2 border-bottom-0">
            <h5 class="modal-title fs-5 fw-bolder text--hnb" id="confirmPromptModalLabel">
              作業訊息
            </h5>
            <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal"
              aria-label="Close">
              <span class="mdi mdi-close"></span>
            </button>
          </div>
          <div class="modal-body bg-light">
            <p class="fw-bold hnb__text--green text-center">
              請注意！此張信用狀於今天開立，一但申請修改申請書，則無法進行當日更正開狀申請書，確定要提出修改申請書嗎？
            </p>
          </div>
          <div class="modal-footer justify-content-center border-top-0">
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--cancel" data-bs-dismiss="modal">取消</button>
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default" data-bs-toggle="modal"
              data-bs-target="#confirmModal">確定</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- 離開選擇訊息 視窗 -->
  <div class="modal fade" id="promptModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="promptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <form id="accountManagerForm">
        <div class="modal-content hnb__modal">
          <div class="modal-header py-2 border-bottom-0">
            <h5 class="modal-title fs-5 fw-bolder text--hnb" id="promptModalLabel">
              作業訊息
            </h5>
            <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal"
              aria-label="Close">
              <span class="mdi mdi-close"></span>
            </button>
          </div>
          <div class="modal-body bg-light">
            <p class="fw-bold hnb__text--green text-center">
              離開不會儲存此筆資料，您確認要離開嗎？
            </p>
          </div>
          <div class="modal-footer justify-content-center border-top-0">
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--cancel" data-bs-dismiss="modal">取消</button>
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default"
              onclick="location.href = 'AmendApp.html';">確定</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  @section Scripts 
  {
    <script>
        // 查詢控制項
        const searchBtn = document.querySelector('#searchBtn');
        const beneType = document.querySelector('#beneType');
        let currentEditType = '';

        beneType.addEventListener('change', () => {
          currentEditType = beneType.value;
          if (currentEditType !== '') {
            searchBtn.classList.remove('disabled');
          }
        });

        const queryForm = document.querySelector('#queryForm');
        const queryList = document.querySelector('#queryList');
        const lcForCdsAppList = document.querySelector('#lcForCdsAppList');
        const lcAppList = document.querySelector('#lcAppList');
        const lcforOtherAppList = document.querySelector('#lcforOtherAppList');

        // 查詢舊有開狀申請書 searchHandler
        function searchHandler() {
          // 收集查詢參數
          var data = {
            beneType: document.querySelector('#beneType').value,
            lcNo: document.querySelector('#lcNo').value,
            beneNo: document.querySelector('#beneNo').value,
            beneInNo: document.querySelector('#beneInNo').value,
            status: document.querySelector('#branchNo').value,
            startDate: document.querySelector('#startDate').value,
            endDate: document.querySelector('#endDate').value
          };
          $.ajax({
            url: '../AmendApp/Query',
            type: 'POST',
            data: data,
            success: function (result) {
              $('#queryList').html(result);
              $('#queryList').removeClass('hnb__hide');
            },
            error: function () {
              alert('查詢失敗，請稍後再試');
            }
          });
        };

        // 編輯開狀申請書 editHandler
        function editHandler() {
          queryForm.classList.add('hnb__hide');
          queryList.classList.add('hnb__hide');

          switch (currentEditType) {
            case 'cds':
              lcForCdsAppList.classList.remove('hnb__hide');
              break;
            case 'fpc':
              lcAppList.classList.remove('hnb__hide');
              break;
            case 'other':
              lcforOtherAppList.classList.remove('hnb__hide');
              break;
          };
        };


        function closeAlert() {
          if (confirm('離開不會儲存此筆資料，您確認要離開嗎？') === true) {
            location.href = 'LcApp.html';
          };
        };

        // 申請確認
        function confirmReview() {
          //const messageModal = document.querySelector('#messageModal .modal-dialog');
          //messageModal.classList.remove('modal-xl');

          messageModalLabel.innerHTML = '作業訊息';
          msgBody.innerHTML = `
            <p class="fw-bold hnb__text--green text-center">
              作業已完成！<br>
              您的申請書號碼為<br>
              099700031161000861-A-011
            </p>`;
          msgFooter.innerHTML = `
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default"
              onclick="backAmendApp()">回修改申請書</button>`;

          $('#messageModal').modal('show');
        };

        function backAmendApp() {
          $('#messageModal').modal('hide');
          lcAppList.classList.add('hnb__hide');
          queryForm.classList.remove('hnb__hide');
          queryList.classList.remove('hnb__hide');
        };

        // 月曆
        const dateAlert = document.querySelector(".dateAlert");
        const currentTime = new Date()
        const config = {
          locale: 'zh_tw',
          //enableTime: true, //可選時與分
          dateFormat: "Y/m/d", //時間格式
          time_24hr: true, //24 時制
          minuteIncrement: 15, //分鐘每次選擇間隔單位
          allowInput: true, //可輸入控制
          //minDate: "today", //可選最小時間，可直接接受 'today' 字串
          //maxDate: currentTime.setMonth(currentTime.getMonth() + 1), //可選最大時間，從今天起一個月
          onChange: function (selectedDates, dateStr, instance) {
            console.log(`你現在點選的是 ${instance.input.id}，時間為 ${selectedDates} / ${dateStr}`);
            checkDateTime(dateStr, instance.input.id);
          }
        };
        flatpickr('#startDate, #endDate', config);

        let startDateValue = null
        let endDateValue = null

        // 辨別結束日期須晚於開始日期
        function checkDateTime(dateStr, id) {
          if (id === "startDate") {
            startDateValue = dateStr
          }

          if (id === "endDate") {
            endDateValue = dateStr
          }

          if (startDateValue > endDateValue) {
            dateAlert.classList.remove("d-none");
          } else {
            dateAlert.classList.add("d-none");
          }
        };

        // 有效期限 / 最後交貨日期 / 限定押匯日期 - 日期選擇器
        flatpickr('#expDate, #deliveryDate1, #deliveryDate2, #deliveryDate3, #draftDate, #specifyExpDate, #lnd, #InvStartDate', config);

    </script>
}
