@{
    Layout = "~/Views/AmendApp/AmendAppTemplate.cshtml";
}
@section Headers
{
    <!-- flatpick plugin -->
    <link rel="stylesheet" href="../assets/flatpickr/flatpickr.min.css">
    <script src="../assets/flatpickr/flatpickr.js"></script>
    <script src="../assets/flatpickr/zh-tw.js"></script>
}

    <!-- 查詢修改申請書 -->
    <div id="queryForm">
        <form>
            <h1 class="py-2 fs-4 fw-bolder">請選擇查詢方式</h1>
            <div class="mb-2 card">
                <div class="card-body bg-light">
                    <div class="row pb-2">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row">
                                <label for="beneType" class="col-2 col-md-3 col-form-label text-end text-nowrap">受益人類別</label>
                                <div class="col-10 col-md-9">
                                    <select id="beneType" class="form-select form-select-sm">
                                        <option value="" selected>= 請選擇 =</option>
                                        <option value="cds">CDS 客戶 (中鋼、中鴻、中鋁、華新麗華、東和鋼鐵)</option>
                                        <option value="fpc">台塑 e 化平台客戶 (台塑集團、奇美集團)</option>
                                        <option value="other">其他客戶</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0 mb-1 border border-0 border-top border-secondary">
                    <div class="row">
                        <div class="py-1 col-12 d-flex">
                            <div class="pt-2 form-check" style="width:25px;">
                                <input class="form-check-input" type="radio" name="formGroup" id="check1">
                            </div>
                            <div class="row mx-0 flex-grow-1">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="row align-items-center">
                                        <label for="lcNo" class="col-2 col-md-3 col-form-label text-end text-nowrap">信用狀號碼</label>
                                        <div class="py-1 col-10 col-md-9">
                                            <input type="text" class="form-control form-control-sm" id="lcNo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-1 border border-0 border-top border-secondary">
                    <div class="py-1 col-12 d-flex">
                        <div class="pt-2 form-check" style="width:25px;">
                            <input class="form-check-input" type="radio" name="formGroup" id="check3">
                        </div>
                        <div class="row mx-0 flex-grow-1">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row align-items-center">
                                    <label for="beneNo" class="col-2 col-md-3 col-form-label text-end text-nowrap">申請人放款戶號</label>
                                    <div class="py-1 col-10 col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="beneNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row align-items-center">
                                    <label for="beneInNo" class="col-2 col-md-3 col-form-label text-end text-nowrap">受益人統編</label>
                                    <div class="py-1 col-10 col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="beneInNo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row align-items-center">
                                    <label for="status" class="col-2 col-md-3 col-form-label text-end text-nowrap">信用狀狀態</label>
                                    <div class="py-1 col-10 col-md-9">
                                        <select id="branchNo" class="form-select form-select-sm">
                                            <option selected>= 請選擇 =</option>
                                            <option>已到期</option>
                                            <option>未到期</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row align-items-center">
                                    <label for="appDate" class="col-2 col-md-3 col-form-label text-end text-nowrap">開狀日期</label>
                                    <div class="py-1 col-10 col-md-9">
                                        <div class="d-flex align-items-center">
                                            <div class="input-group flex-nowrap">
                                                <input type="datetime-local" id="startDate" placeholder="請點選起日"
                                                       class="form-control form-control-sm hnb__calendar">
                                                <label class="input-group-text py-1" for="startDate">
                                                    <span class="mdi mdi-calendar-month"></span>
                                                </label>
                                            </div>
                                            <span class="px-2">~</span>
                                            <div class="input-group flex-nowrap">
                                                <input type="datetime-local" id="endDate" placeholder="請點選訖日"
                                                       class="form-control form-control-sm hnb__calendar">
                                                <label class="input-group-text py-1" for="endDate">
                                                    <span class="mdi mdi-calendar-month"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="pt-1 text-danger text-end text-nowrap">
                                            <span class="text-danger dateAlert pe-2 d-none pe-1">
                                                <span class="mdi mdi-close-thick"></span>
                                                結束日期須晚於開始日期
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end py-1">
                            <button type="reset" id="resetBtn" class="me-2 px-3 btn btn-sm hnb__btn--reset">重設</button>
                            <button type="button" id="searchBtn" class="px-3 btn btn-sm hnb__btn--default text-nowrap"
                                    onclick="searchHandler()">
                                確定
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- 信用狀清冊 -->
    <div id="queryList">
    </div>
   

    @{
        await Html.RenderPartialAsync("~/Views/AmendApp/Module/LcDetailModal.cshtml");
    }
  <!-- 訊息 視窗 -->
  <div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content hnb__modal">
        <div class="modal-header py-2 border-bottom-0">
          <h5 class="modal-title fs-5 fw-bolder text--hnb" id="messageModalLabel">
            作業訊息
          </h5>
          <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal" aria-label="Close">
            <span class="mdi mdi-close"></span>
          </button>
        </div>
        <div id="msgBody" class="modal-body bg-light"></div>
        <div id="msgFooter" class="modal-footer justify-content-center border-top-0"></div>
      </div>
    </div>
  </div>

  <!-- 訊息 視窗 -->
  <div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <form id="accountManagerForm">
        <div class="modal-content hnb__modal">
          <div class="modal-header py-2 border-bottom-0">
            <h5 class="modal-title fs-5 fw-bolder text--hnb" id="confirmModalLabel">
              作業訊息
            </h5>
            <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal"
              aria-label="Close">
              <span class="mdi mdi-close"></span>
            </button>
          </div>
          <div class="modal-body bg-light">
            <p class="fw-bold hnb__text--green text-center">
              作業已完成！<br>
              您的申請書號碼為<br>
              099700031161000861-A-01
            </p>
          </div>
          <div class="modal-footer justify-content-center border-top-0">
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default"
              onclick="location.href = 'AmendApp.html'">回修改申請書</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- 確認選擇訊息 視窗 -->
  <div class="modal fade" id="confirmPromptModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="confirmPromptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <form id="accountManagerForm">
        <div class="modal-content hnb__modal">
          <div class="modal-header py-2 border-bottom-0">
            <h5 class="modal-title fs-5 fw-bolder text--hnb" id="confirmPromptModalLabel">
              作業訊息
            </h5>
            <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal"
              aria-label="Close">
              <span class="mdi mdi-close"></span>
            </button>
          </div>
          <div class="modal-body bg-light">
            <p class="fw-bold hnb__text--green text-center">
              請注意！此張信用狀於今天開立，一但申請修改申請書，則無法進行當日更正開狀申請書，確定要提出修改申請書嗎？
            </p>
          </div>
          <div class="modal-footer justify-content-center border-top-0">
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--cancel" data-bs-dismiss="modal">取消</button>
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default" data-bs-toggle="modal"
              data-bs-target="#confirmModal">確定</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- 離開選擇訊息 視窗 -->
  <div class="modal fade" id="promptModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="promptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <form id="accountManagerForm">
        <div class="modal-content hnb__modal">
          <div class="modal-header py-2 border-bottom-0">
            <h5 class="modal-title fs-5 fw-bolder text--hnb" id="promptModalLabel">
              作業訊息
            </h5>
            <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal"
              aria-label="Close">
              <span class="mdi mdi-close"></span>
            </button>
          </div>
          <div class="modal-body bg-light">
            <p class="fw-bold hnb__text--green text-center">
              離開不會儲存此筆資料，您確認要離開嗎？
            </p>
          </div>
          <div class="modal-footer justify-content-center border-top-0">
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--cancel" data-bs-dismiss="modal">取消</button>
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default"
              onclick="location.href = 'AmendApp.html';">確定</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  @section Scripts 
  {
    <script>
        // 查詢控制項
        const searchBtn = document.querySelector('#searchBtn');
        const beneType = document.querySelector('#beneType');
        let currentEditType = '';

        beneType.addEventListener('change', () => {
          currentEditType = beneType.value;
          if (currentEditType !== '') {
            searchBtn.classList.remove('disabled');
          }
        });

        const queryForm = document.querySelector('#queryForm');
        const queryList = document.querySelector('#queryList');
        const lcForCdsAppList = document.querySelector('#lcForCdsAppList');
        const lcAppList = document.querySelector('#lcAppList');
        const lcforOtherAppList = document.querySelector('#lcforOtherAppList');

        // 查詢舊有開狀申請書 searchHandler
        function searchHandler() {
          // 收集查詢參數
          var data = {
            beneType: document.querySelector('#beneType').value,
            lcNo: document.querySelector('#lcNo').value,
            beneNo: document.querySelector('#beneNo').value,
            beneInNo: document.querySelector('#beneInNo').value,
            status: document.querySelector('#branchNo').value,
            startDate: document.querySelector('#startDate').value,
            endDate: document.querySelector('#endDate').value
          };
          $.ajax({
            url: '../AmendApp/Query',
            type: 'POST',
            data: data,
            success: function (result) {
              $('#queryList').html(result);
              $('#queryList').removeClass('hnb__hide');
            },
            error: function () {
              alert('查詢失敗，請稍後再試');
            }
          });
        };

        // 編輯開狀申請書 editHandler
        function editHandler() {
          queryForm.classList.add('hnb__hide');
          queryList.classList.add('hnb__hide');

          switch (currentEditType) {
            case 'cds':
              lcForCdsAppList.classList.remove('hnb__hide');
              break;
            case 'fpc':
              lcAppList.classList.remove('hnb__hide');
              break;
            case 'other':
              lcforOtherAppList.classList.remove('hnb__hide');
              break;
          };
        };


        function closeAlert() {
          if (confirm('離開不會儲存此筆資料，您確認要離開嗎？') === true) {
            location.href = 'LcApp.html';
          };
        };

        // 申請確認
        function confirmReview() {
          //const messageModal = document.querySelector('#messageModal .modal-dialog');
          //messageModal.classList.remove('modal-xl');

          messageModalLabel.innerHTML = '作業訊息';
          msgBody.innerHTML = `
            <p class="fw-bold hnb__text--green text-center">
              作業已完成！<br>
              您的申請書號碼為<br>
              099700031161000861-A-011
            </p>`;
          msgFooter.innerHTML = `
            <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default"
              onclick="backAmendApp()">回修改申請書</button>`;

          $('#messageModal').modal('show');
        };

        function backAmendApp() {
          $('#messageModal').modal('hide');
          lcAppList.classList.add('hnb__hide');
          queryForm.classList.remove('hnb__hide');
          queryList.classList.remove('hnb__hide');
        };

        // 月曆
        const dateAlert = document.querySelector(".dateAlert");
        const currentTime = new Date()
        const config = {
          locale: 'zh_tw',
          //enableTime: true, //可選時與分
          dateFormat: "Y/m/d", //時間格式
          time_24hr: true, //24 時制
          minuteIncrement: 15, //分鐘每次選擇間隔單位
          allowInput: true, //可輸入控制
          //minDate: "today", //可選最小時間，可直接接受 'today' 字串
          //maxDate: currentTime.setMonth(currentTime.getMonth() + 1), //可選最大時間，從今天起一個月
          onChange: function (selectedDates, dateStr, instance) {
            console.log(`你現在點選的是 ${instance.input.id}，時間為 ${selectedDates} / ${dateStr}`);
            checkDateTime(dateStr, instance.input.id);
          }
        };
        flatpickr('#startDate, #endDate', config);

        let startDateValue = null
        let endDateValue = null

        // 辨別結束日期須晚於開始日期
        function checkDateTime(dateStr, id) {
          if (id === "startDate") {
            startDateValue = dateStr
          }

          if (id === "endDate") {
            endDateValue = dateStr
          }

          if (startDateValue > endDateValue) {
            dateAlert.classList.remove("d-none");
          } else {
            dateAlert.classList.add("d-none");
          }
        };

        // 有效期限 / 最後交貨日期 / 限定押匯日期 - 日期選擇器
        flatpickr('#expDate, #deliveryDate1, #deliveryDate2, #deliveryDate3, #draftDate, #specifyExpDate, #lnd, #InvStartDate', config);

    </script>
}
