<!-- 主管 - 授信資料 -->
<div id="creditListBs">
  <h1 class="py-2 fs-4 fw-bolder">押匯申請-授信資料</h1>
  <div class="mb-2 card">
    <div class="card-body bg-light">
      <div class="card-body p-4">
        <div class="my-3 p-4 mx-auto border border-success" style="max-width:1000px">
          <h5 class="card-subtitle fw-bold mb-2 hnb__text--red">押匯方式：</h5>
          <div class="my-2 fw-bold hnb__text--green">押匯</div>
          <div>
            <div class="fw-bold text-nowrap">撥款方式：</div>
            <div class="d-flex align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="draftRadio11" id="pay1" disabled>
              </div>
              <div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center flex-wrap">
                    <div class="text-end" style="width:110px">本行-轉入帳號：</div>
                    <span>--</span>
                  </div>
                </div>
                <div class="d-flex align-items-center flex-wrap">
                  <div class="text-end" style="width:110px">戶名：</div>
                  <span>台灣塑膠工業股份有限公司</span>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="draftRadio11" id="pay2" disabled>
              </div>
              <div>
                <div class="my-2">
                  跨行-付款內容詳受益人匯出匯款申請書
                </div>
                <div class="d-flex align-items-center flex-wrap">
                  <div>匯入銀行：</div>
                  <span>--</span>
                  <div class="ms-4">銀行名稱：</div>
                  <span>--</span>
                  <div class="ms-4">匯款帳號：</div>
                  <span>--</span>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="py-2 form-check">
                <input class="form-check-input" type="radio" name="draftRadio11" id="pay3" checked disabled>
              </div>
              <div class="d-flex align-items-start flex-wrap">
                <div class="py-2 text-nowrap">轉入科目：</div>
                <div class="py-2">
                  <div class="d-flex align-items-center">
                    <span class="text-nowrap">轉入會計科目：</span>
                    <span>00000-999：過度科目</span>
                  </div>
                  <div class=" d-flex align-items-center">
                    <span class="text-nowrap">轉入銷帳序號：</span>
                    <span>111101</span>
                  </div>
                  <div class=" d-flex align-items-center">
                    <span class="text-nowrap">轉入科目金額：</span>
                    <span>100000.0</span>
                  </div>
                  <div class=" d-flex align-items-center">
                    <span class="text-nowrap">轉入科目摘要：</span>
                    <span>國內信用狀押匯台灣塑膠工業股份有限公司</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center flex-wrap">
              <div>押匯手續費：</div>
              <span>300.0</span>
              <div>是否扣印花稅：</div>
              <span>是</span>
            </div>
          </div>
          <h5 class="card-subtitle fw-bold my-3 hnb__text--red">費用付款方式：</h5>
          <div class="my-2">
            <div class="d-flex align-items-start">
              <div class="py-2 form-check">
                <input class="form-check-input" type="radio" name="radio2" id="check21" checked disabled>
              </div>
              <div class="py-2">
                現金
              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="py-2 form-check">
                <input class="form-check-input" type="radio" name="radio2" id="check22" disabled>
              </div>
              <div class="py-1 d-flex align-items-center">
                <span class="text-nowrap">支存帳號：</span>
                <span>--</span>
                <span class="text-nowrap">支票號碼：</span>
                <span>--</span>

              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="py-2 form-check">
                <input class="form-check-input" type="radio" name="radio2" id="check23" disabled>
              </div>
              <div class="py-1 d-flex align-items-center">
                <span class="text-nowrap">活存帳號：</span>
                <span>--</span>

              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="py-2 form-check">
                <input class="form-check-input" type="radio" name="radio2" id="check24" disabled>
              </div>
              <div class="py-2 d-flex align-items-center">
                <span class="text-nowrap">內扣</span>
              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="py-2 form-check">
                <input class="form-check-input" type="radio" name="radio2" id="check24" disabled>
              </div>
              <div class="d-flex">
                <span class="py-2 text-nowrap">轉出科目：</span>
                <div class="py-2">
                  <div class="d-flex align-items-center">
                    <span class="text-nowrap">轉出會計科目：</span>
                    <span>00000-999：過度科目</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="text-nowrap">轉出銷帳序號：</span>
                    <span>--</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="text-nowrap">轉出科目金額：</span>
                    <span>55000.0</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="text-nowrap">轉出科目摘要：</span>
                    <span>押匯/承兌費用台灣塑膠工業股份有限公司</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h5 class="card-subtitle fw-bold my-3 hnb__text--red">押匯手續費優惠：</h5>
          <div class="my-2">
            <div class="d-flex align-items-start">
              <div class="py-2 form-check">
                <input class="form-check-input" type="checkbox" name="check1" id="check31" disabled>
              </div>
              <div class="d-flex flex-column">
                <span class="py-2 text-nowrap">押匯手續費優惠</span>
                <div class="d-flex align-items-center">
                  <span class="text-nowrap">優惠原因：</span>
                  <span>申請總行核准</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" onclick="cancelHandler()">
          取消
        </button>
        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--default text-nowrap" onclick="adjAccountHandler()">
          當日帳務調整
        </button>
        <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--red text-nowrap" onclick="notAdjAccountHandler()">
          不調整
        </button>
      </div>
    </div>
  </div>
</div>