<tr>
    <td class="text-center" width="50">1</td>
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" onclick="reviewLcApp()">099700017161000861-A-02</a>
    </td>
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal"
           onclick="changeLcType('即期')">099700049161000861</a>
    </td>
    <td class="text-center text-nowrap">即期</td>
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal"
           data-bs-target="#noticeModal">099700017161000862-02</a>
    </td>
    <td class="text-center">2025/06/05</td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-nowrap">中國鋼鐵股份有限公司</td>
</tr>
<tr>
    <td class="text-center" width="50">2</td>
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" onclick="reviewLcApp()">099700017161000862-A-02</a>
    </td>
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal"
           onclick="changeLcType('即期')">099700017161000862</a>
    </td>
    <td class="text-center text-nowrap">即期</td>
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal"
           data-bs-target="#noticeModal">099700017161000862-02</a>
    </td>
    <td class="text-center">2025/06/05</td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-nowrap">優勢測試股份有限公司</td>
</tr>