@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>華南銀行 - 國內信用狀系統</title>
    <link rel="stylesheet" href="../assets/MaterialDesign-Webfont/css/materialdesignicons.min.css" media="all" />
    <link rel="stylesheet" href="../assets/css/custom.css">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/jquery-ui/Content/themes/base/jquery-ui.min.css">
    @RenderSection("Headers", required: false)
    <!-- 公共 JS Plugin -->
    <script src="~/assets/js/page.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery-3.7.1.js"></script>
    <script src="~/assets/jquery-ui/Scripts/jquery-ui-1.14.1.min.js"></script>

</head>
<body>
    @RenderBody()

    <script>
        // 共用 processHandler - 由多個子頁共用
        function processHandler(action, controller, options) {
            $('').launchDownload(`../${controller}/${(action ?? 'Index')}`, options);
        }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @await Html.PartialAsync("~/Views/MainPage/Module/Loading.cshtml")
</body>
</html>