<table class="mb-0 table table-striped table-sm hnb__table hnb__bg--white">
    <thead>
        <tr>
            <th scope="col" class="hnb__tbhd text-nowrap">編號</th>
            <th scope="col" class="hnb__tbhd text-nowrap">註銷申請書號碼</th>
            <th scope="col" class="hnb__tbhd text-nowrap">信用狀號碼</th>
            <th scope="col" class="hnb__tbhd text-nowrap">信用狀別</th>
            <th scope="col" class="hnb__tbhd text-nowrap">申請日期</th>
            <th scope="col" class="hnb__tbhd text-nowrap">申請人</th>
            <th scope="col" class="hnb__tbhd text-nowrap">通知銀行</th>
            <th scope="col" class="hnb__tbhd text-nowrap">受益人</th>
            <th scope="col" class="hnb__tbhd text-nowrap">有效期限</th>
            <th scope="col" class="hnb__tbhd">操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            await Html.RenderPartialAsync("~/Views/CancelAdjustment/Module/QueryCancelAdjustmentItems.cshtml");
        }
    </tbody>
</table>