<div class="mb-2 row">
    <label for="bene" id="beneTitle"
           class="col-2 col-md-3 col-form-label text-end text-nowrap">受益人</label>
    <div class="col-10 col-md-9">
        <select id="bene" class="form-select form-select-sm">
            <option value="0" selected>= 請選擇 =</option>
        </select>
    </div>
</div>