<!-- 信用狀修改申請書 -->
<div id="lcAppList">
    <h1 class="py-2 fs-4 fw-bolder">信用狀修改申請書</h1>
    <div class="mb-2 card">
        <div class="card-body bg-light">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 py-1 hnb__bankName text-center">
                        華南銀行 高雄分行
                    </div>
                    <div class="col-12 py-1 hnb__bankName text-center">
                        國內信用狀修改申請書
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm hnb__table hnb__bg--white">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="container-fluid">
                                    <div class="row align-items-center">
                                        <div class="py-1 col-6">
                                            <span class="fw-bold">修改編號：</span>第 1 次
                                        </div>
                                        <div class="py-1 col-6">
                                            <span class="fw-bold">修改日期：</span>民國 114 年 3 月 25 日
                                        </div>
                                        <div class="py-1 col-6">
                                            <span class="fw-bold">信用狀號碼：</span>099700049161000861
                                        </div>
                                        <div class="py-1 col-6">
                                            <span class="fw-bold">金額：</span>新台幣 陸仟萬元整
                                        </div>
                                        <div class="py-1 col-6">
                                            <span class="fw-bold">通知銀行：</span>華南商業銀行 台北分行
                                        </div>
                                        <div class="py-1 col-6">
                                            <span class="fw-bold">通知銀行編號：</span>01
                                        </div>
                                        <div class="py-1 col-12">
                                            <span class="fw-bold">受益人：</span>中鴻鋼鐵股份有限公司
                                        </div>
                                        <div class="py-1 col-6">
                                            <span class="fw-bold">地址：</span>高雄縣橋頭鄉芋寮村芋寮路317號
                                        </div>
                                        <div class="py-1 col-6">
                                            <span class="fw-bold">Email：</span>a1b2c3d4e5@example.com
                                        </div>
                                        <div class="py-1 col-6">
                                            <span class="fw-bold">有效期限至：</span>至民國 114 年 3 月 31 日
                                        </div>
                                        <div class="py-1 col-12">
                                            <span class="fw-bold">申請修改事項：</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                <span class="fw-bold">原規定情形</span>
                            </td>
                            <td width="50%" class="text-center">
                                <span class="fw-bold">修改情形</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <span class="fw-bold">金額：</span>
                                    <br>
                                    新台幣 陸仟萬元整
                                </p>
                                <p>
                                    <span class="fw-bold">有效期限：</span>
                                    <br>
                                    114/04/30
                                </p>
                                <p>
                                    <span class="fw-bold">受益人地址：</span><br>
                                    高雄市小港區中鋼路10號
                                </p>
                                <p>
                                    <span class="fw-bold">貨物名稱：</span><br>
                                    測試鐵架一組
                                </p>
                            </td>
                            <td>
                                <p>
                                    <span class="fw-bold">金額：</span>
                                    <br>
                                    新台幣 陸仟壹佰萬元整
                                </p>
                                <p>
                                    <span class="fw-bold">有效期限：</span><br>
                                    114/05/31
                                </p>
                                <p>
                                    <span class="fw-bold">受益人地址：</span><br>
                                    高雄市小港區中鋼路100號
                                </p>
                                <p>
                                    <span class="fw-bold">貨物名稱：</span><br>
                                    測試鐵架二組
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-8">
                                            <span class="me-2 fw-bold">申請人：</span>林大華<br>
                                            <span class="me-2 fw-bold">地址：</span>台北市羅斯福路一段100號<br>
                                            <span class="me-2 fw-bold">電話：</span>02-12345678<br>
                                            <span class="me-2 fw-bold">日期：</span>民國 114 年 3 月 25 日
                                        </div>
                                        <div class="col-4 text-center">
                                            <span class="px-3">
                                                <img src="~/assets/images/cds_03.gif">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" onclick="cancelHandler()">
                    取消
                </button>
                <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--print text-nowrap" data-bs-toggle="modal"
                        data-bs-target="#creditModal">
                    授信資料
                </button>
                <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--default text-nowrap" onclick="confirmReview();">
                    當日沖正(EC)交易
                </button>
                <button type="button" id="notConfirmBtn" class="m-1 px-3 btn btn-sm hnb__btn--red text-nowrap"
                        onclick="notConfirmReview()">
                    不沖正
                </button>
            </div>
        </div>
    </div>
</div>