<div class="accordion-item">
    <h2 class="accordion-header" id="heading_Query">
        <button class="py-2 fs-1-5 fw-bold accordion-button hnb__menu--title rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Query" aria-expanded="false" aria-controls="Query">
            查詢作業
        </button>
    </h2>
    <div id="Query" class="accordion-collapse collapse" aria-labelledby="heading_Query" data-bs-parent="#accordionSideMenu">
        <div class="accordion-body p-0">
            <div class="list-group list-group-flush" id="list-tab" role="tablist"><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryLcApp" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryLcApp">開狀申請書</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryAmendApp" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryAmendApp">修改申請書</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryAmendNotice" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryAmendNotice">修改通知書</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryCancelApp" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryCancelApp">註銷申請/切結書</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryLcList" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryLcList">信用狀</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryDraftList" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryDraftList">押匯申請</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryMarLc" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryMarLc">主管核准開狀紀錄</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryMarDraft" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryMarDraft">主管核准押匯紀錄</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryOutstandLc" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryOutstandLc">未結案信用狀額度與保證金</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryBlcAmount" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryBlcAmount">分行信用狀暨押匯筆數金額</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryInterestRate" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryInterestRate">利率約定 (改貸)</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryAccount" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryAccount">會計帳務分錄</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryAccessLog" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryAccessLog">存取記錄</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryNegotiationFee" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryNegotiationFee">國內信用狀押匯手續費優待明細表</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryBeneficiaryBlcAmount" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryBeneficiaryBlcAmount">受益人分行信用狀暨押匯筆數金額</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="QueryClientConnect" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-QueryClientConnect">Client連線狀態</a></div>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="heading_Member">
        <button class="py-2 fs-1-5 fw-bold accordion-button hnb__menu--title rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Member" aria-expanded="false" aria-controls="Member">
            會員管理作業
        </button>
    </h2>
    <div id="Member" class="accordion-collapse collapse" aria-labelledby="heading_Member" data-bs-parent="#accordionSideMenu">
        <div class="accordion-body p-0">
            <div class="list-group list-group-flush" id="list-tab" role="tablist"><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="ManagerPersonal" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-ManagerPersonal">個人設定</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="ManagerBeneficiary" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-ManagerBeneficiary">受益人資料維護</a></div>
        </div>
    </div>
</div>
