<div class="accordion-item">
    <h2 class="accordion-header" id="heading_Member">
        <button class="py-2 fs-1-5 fw-bold accordion-button hnb__menu--title rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Member" aria-expanded="false" aria-controls="Member">
            會員管理作業
        </button>
    </h2>
    <div id="Member" class="accordion-collapse collapse" aria-labelledby="heading_Member" data-bs-parent="#accordionSideMenu">
        <div class="accordion-body p-0">
            <div class="list-group list-group-flush" id="list-tab" role="tablist"><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="ManagerMember" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-ManagerMember">會員管理</a><a class="ps-4 list-group-item list-group-item-action hnb__menu--btn" id="ManagerPersonal" href="javascript:void(0)" role="tab" data-bs-toggle="list" aria-controls="list-ManagerPersonal">個人設定</a></div>
        </div>
    </div>
</div>
