<div class="modal-header py-2 border-bottom-0">
    <h5 class="modal-title fs-5 fw-bolder text--hnb" id="noticeModalLabel">
        信用狀修改通知書明細
    </h5>
    <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal" aria-label="Close">
        <span class="mdi mdi-close"></span>
    </button>
</div>
<div class="modal-body bg-light">
    <div class="table-responsive">
        <table class="table table-sm hnb__table hnb__bg--white">
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="my-2 col-12 text-center">
                                    <span class="hnb__bankName">國內信用狀修改通知書</span>
                                </div>
                                <div class="mb-3 col-12 text-center">
                                    <span class="fs-1-5 fw-bold">網際商業銀行 南門分行</span>
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">修改編號：</span>第 1 次
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">修改日期：</span>民國 114 年 3 月 25 日
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">信用狀號碼：</span>099700049161000861
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">金額：</span>新台幣陸仟萬元整
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">通知銀行：</span>華南商業銀行 台北分行
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">通知銀行編號：</span>01
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">受益人：</span>中鴻鋼鐵股份有限公司
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">有效期限至：</span>至民國 114 年 3 月 31 日
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">地址：</span>高雄縣橋頭鄉芋寮村芋寮路317號
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">信用狀申請人：</span>優勢股份有限公司
                                </div>
                                <div class="py-1 col-6">
                                    <span class="fw-bold">修改事項：</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%" class="text-center">
                        <span class="fw-bold">原規定情形</span>
                    </td>
                    <td width="50%" class="text-center">
                        <span class="fw-bold">修改情形</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="fw-bold">有效期限：</span>
                            <br>
                            114/04/30
                        </p>
                        <p>
                            <span class="fw-bold">發票日後定日付款：</span><br>
                            以「定日付款」方式填寫到期日，其到期日為自匯票發票日起算20天。
                        </p>
                        <p>
                            <span class="fw-bold">發票日後定日付款：</span><br>
                            114/04/30
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="fw-bold">有效期限：</span><br>
                            114/05/31
                        </p>
                        <p>
                            <span class="fw-bold">發票日後定日付款：</span><br>
                            以「定日付款」方式填寫到期日，其到期日為自匯票發票日起算21天。
                        </p>
                        <p>
                            <span class="fw-bold">發票日後定日付款：</span><br>
                            114/05/30
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        ＊如有異議，請於收到本通知書後10日內，向本行(或通知行)書面表示之。
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 100px;">
                        <span class="me-2 hnb__bankName">華南銀行</span>
                        <span>( 有權簽章人員簽章 )</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="my-3 container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--default text-nowrap">
                        <span class="mdi mdi-cloud-download"></span>
                        下載電子檔
                    </button>
                    <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--print text-nowrap">
                        <span class="mdi mdi-printer"></span>
                        列印
                    </button>
                </div>
            </div>
        </div>
        <div class="card my-3 mx-auto shadow-sm" style="width: 15rem;">
            <div class="card-body">
                <h6 class="card-subtitle fw-bold mb-2 text-center text--hnb">信用狀號碼</h6>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                       data-bs-target="#lcDetailModal2">095108233170090626</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-center border-top-0">
    <button type="button" class="my-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-dismiss="modal">
        關閉
    </button>
</div>
