<tr data-lcno="ENID0990000089" data-benetype="cds">
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal"
           data-bs-target="#lcAppDetailModal">ENID0990000089</a>
    </td>
    <td class="text-center text-nowrap">
        NA
    </td>
    <td class="text-center text-nowrap">即期</td>
    <td class="text-nowrap">甲乙公司</td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-center">
        2025/06/05
    </td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-end text-nowrap">中鴻公司</td>
    <td class="text-center text-nowrap">待主管審核</td>
    <td class="text-center">
        <button type="button" class="editItem my-1 px-3 btn btn-sm hnb__btn--default text-nowrap">
            編輯開狀申請書
        </button>
    </td>
</tr>
<tr data-lcno="ENID0990000090" data-benetype="fpg">
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal"
           data-bs-target="#lcAppDetailModal" onclick="changeLcType('遠期')">ENID0990000090</a>
    </td>
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal"
           onclick="changeLcType('遠期')">099700049161000861</a>
    </td>
    <td class="text-center text-nowrap">遠期</td>
    <td class="text-nowrap">丙丁公司</td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-center">
        2025/06/05
    </td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-end text-nowrap">中鴻公司</td>
    <td class="text-center text-nowrap">待主管審核</td>
    <td class="text-center">
        <button type="button" class="editItem my-1 px-3 btn btn-sm hnb__btn--default text-nowrap">
            編輯開狀申請書
        </button>
    </td>
</tr>
<tr data-lcno="ENID0990000091">
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal"
           data-bs-target="#lcAppDetailModal">ENID0990000091</a>
    </td>
    <td class="text-center text-nowrap">
        <a href="#" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal"
           onclick="changeLcType('即期')">099700049161000862</a>
    </td>
    <td class="text-center text-nowrap">即期</td>
    <td class="text-nowrap">甲乙公司</td>
    <td class="text-center text-nowrap">高雄分行</td>
    <td class="text-center">
        2025/06/05
    </td>
    <td class="text-end text-nowrap">$ 282,125.00</td>
    <td class="text-end text-nowrap">中鴻公司</td>
    <td class="text-center text-nowrap">待主管審核</td>
    <td class="text-center">
        <button type="button" class="editItem my-1 px-3 btn btn-sm hnb__btn--default text-nowrap">
            編輯開狀申請書
        </button>
    </td>
</tr>
