@{
    Layout = "~/Views/Shared/_MessageModalLayout.cshtml";
}
<!-- 訊息 視窗 -->
@section MsgBody
{
    <p class="fw-bold hnb__text--green text-center">
        注意：欲註銷未過期信狀餘額，<br>
        請先取得受益人之同意書。
    </p>
}

@section MsgFooter
{
    <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default" data-bs-dismiss="modal">確定</button>
}
