@{
    Layout = "~/Views/DraftApp/DraftAppTemplate.cshtml";
}

<!-- 查詢押匯申請 -->
<div id="queryForm">
    <form>
        <h1 class="py-2 fs-4 fw-bolder">請選擇查詢方式</h1>
        <div class="mb-2 card">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="py-1 col-12 d-flex">
                        <div class="pt-2 form-check" style="width:25px;">
                            <input class="form-check-input" type="radio" name="formGroup" id="check1">
                        </div>
                        <div class="row mx-0 flex-grow-1">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="row align-items-center">
                                    <label for="lcNo" class="col-2 col-md-3 col-form-label text-end text-nowrap">信用狀號碼</label>
                                    <div class="py-1 col-10 col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="lcNo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-1 border border-0 border-top border-secondary">
                <div class="py-1 col-12 d-flex">
                    <div class="pt-2 form-check" style="width:25px;">
                        <input class="form-check-input" type="radio" name="formGroup" id="check3">
                    </div>
                    <div class="row mx-0 flex-grow-1">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row align-items-center">
                                <label for="appNo" class="col-2 col-md-3 col-form-label text-end text-nowrap">申請人統編</label>
                                <div class="py-1 col-10 col-md-9">
                                    <input type="text" class="form-control form-control-sm" id="appNo">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row align-items-center">
                                <label for="beneInNo" class="col-2 col-md-3 col-form-label text-end text-nowrap">受益人統編</label>
                                <div class="py-1 col-10 col-md-9">
                                    <input type="text" class="form-control form-control-sm" id="beneInNo">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row align-items-center">
                                <label for="status" class="col-2 col-md-3 col-form-label text-end text-nowrap">信用狀狀態</label>
                                <div class="py-1 col-10 col-md-9">
                                    <select id="branchNo" class="form-select form-select-sm">
                                        <option selected>= 請選擇 =</option>
                                        <option>已到期</option>
                                        <option>未到期</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row align-items-center">
                                <label for="appDate" class="col-2 col-md-3 col-form-label text-end text-nowrap">開狀日期</label>
                                <div class="py-1 col-10 col-md-9">
                                    <div class="d-flex align-items-center">
                                        <div class="input-group flex-nowrap">
                                            <input type="datetime-local" id="startDate" placeholder="請點選起日"
                                                   class="form-control form-control-sm hnb__calendar">
                                            <label class="input-group-text py-1" for="startDate">
                                                <span class="mdi mdi-calendar-month"></span>
                                            </label>
                                        </div>
                                        <span class="px-2">~</span>
                                        <div class="input-group flex-nowrap">
                                            <input type="datetime-local" id="endDate" placeholder="請點選訖日"
                                                   class="form-control form-control-sm hnb__calendar">
                                            <label class="input-group-text py-1" for="endDate">
                                                <span class="mdi mdi-calendar-month"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="pt-1 text-danger text-end text-nowrap">
                                        <span class="text-danger dateAlert pe-2 d-none pe-1">
                                            <span class="mdi mdi-close-thick"></span>
                                            結束日期須晚於開始日期
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end py-1">
                        <button type="reset" id="resetBtn" class="me-2 px-3 btn btn-sm hnb__btn--reset">重設</button>
                        <button type="button" id="searchBtn" class="px-3 btn btn-sm hnb__btn--default text-nowrap"
                                onclick="searchHandler()">
                            確定
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- 押匯申請清冊 -->
<div id="queryList">
</div>

<!-- 填寫押匯申請資料 -->
<div id="lcAppList" class="hnb__hide">
    <h1 class="py-2 fs-4 fw-bolder">押匯申請 - 填寫押匯申請資料</h1>
    <div class="mb-2 card">
        <div class="card-body bg-light">
            <form id="lcForCdsAppForm">
                <div class="table-responsive">
                    <table class="mx-auto table table-sm hnb__table hnb__bg--white">
                        <tbody>
                            <tr>
                                <th class="hnb__tbhd2">信用狀號碼：</th>
                                <td>099700024161000861</td>
                                <th class="hnb__tbhd2">信用狀可用餘額：</th>
                                <td class="text-end">NT$ 200,000</td>
                            </tr>
                            <tr>
                                <th class="hnb__tbhd2">受益人名稱：</th>
                                <td>網際測試股份有限公司</td>
                                <th class="hnb__tbhd2">押匯/承兌金額：</th>
                                <td>
                                    <input type="text" class="form-control form-control-sm" id="draftPayment">
                                </td>
                            </tr>
                            <tr>
                                <th class="hnb__tbhd2">押匯/承兌日期：</th>
                                <td>2025/11/10</td>
                                <th class="hnb__tbhd2">匯票到期日：</th>
                                <td>2025/11/10</td>
                            </tr>
                            <tr>
                                <th class="hnb__tbhd2">匯票發票日：</th>
                                <td colspan="3">
                                    <div class="mx-2 input-group flex-nowrap d-inline-flex" style="width:200px;">
                                        <input type="datetime-local" id="invoiceDate" placeholder="請點選日期"
                                               class="form-control form-control-sm hnb__calendar" readonly>
                                        <label class="input-group-text py-1" for="invoiceDate">
                                            <span class="mdi mdi-calendar-month"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" data-bs-toggle="modal"
                            data-bs-target="#promptModal">
                        取消
                    </button>
                    <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--default text-nowrap"
                            onclick="confirmHandler();">
                        確定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@{
    await Html.RenderPartialAsync("~/Views/LcApp/LcDetailModal.cshtml");
    await Html.RenderPartialAsync("~/Views/LcApp/NoticeModal.cshtml");
}

<!-- 離開選擇訊息 視窗 -->
<div class="modal fade" id="promptModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="promptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content hnb__modal">
            <div class="modal-header py-2 border-bottom-0">
                <h5 class="modal-title fs-5 fw-bolder text--hnb" id="promptModalLabel">
                    作業訊息
                </h5>
                <button type="button" class="m-0 p-0 btn btn-link hnb__btn--close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="mdi mdi-close"></span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <p class="fw-bold hnb__text--green text-center">
                    離開不會儲存此筆資料，您確認要離開嗎？
                </p>
            </div>
            <div class="modal-footer justify-content-center border-top-0">
                <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--cancel" data-bs-dismiss="modal">取消</button>
                <button type="button" class="px-3 btn btn-sm border-1 hnb__btn--default" data-bs-dismiss="modal"
                        onclick="cancelHandler()">
                    確定
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // 查詢控制項
        const searchBtn = document.querySelector('#searchBtn');
        const queryForm = document.querySelector('#queryForm');
        const queryList = document.querySelector('#queryList');
        const lcForCdsAppList = document.querySelector('#lcForCdsAppList');
        const lcAppList = document.querySelector('#lcAppList');
        const lcforOtherAppList = document.querySelector('#lcforOtherAppList');

        // 查詢押匯申請 searchHandler
        function searchHandler() {
            doPost('../DraftApp/SearchHandler', {}, function (data) {
                $(queryList).empty().append(data);
            });
        }

        // 確認 訊息及按鈕
        const msgBody = document.querySelector('#msgBody');
        const msgFooter = document.querySelector('#msgFooter');

        function checkHandler() {
            if (!currentDataRow || !currentDataRow.lcno) {
                alert('找不到資料列資訊');
                return;
            }
            var postData = {
                lcNo: currentDataRow.lcno,
                isAccepted: currentDataRow.isaccepted === 'true'
            };
          // const res = await fetch('../DraftApp/CheckDraftHandler', {
          //   method: 'POST',
          //   headers: { 'Content-Type': 'application/json' },
          //   body: JSON.stringify(postData)
          // });
          // if (res.ok) {
          //   const result = await res.json();
          // } else {
          //   alert(res.text);
          // }

            doPost('../DraftApp/CheckDraftHandler', postData, function (data) {
                if ($.isPlainObject(data)) {
                    if(data.result) {
                    // 顯示押匯申請畫面
                    $('').launchDownload('../DraftApp/ApplyNegoDraft',postData);
                    } else {
                        alert(data.message);
                        return;
                    }
                } else {
                    // 顯示需接受註記提示
                    $('body').append(data);
                }
            });
        }

        // 取消
        function cancelHandler() {
          queryForm.classList.remove('hnb__hide');
          queryList.classList.remove('hnb__hide');
          lcAppList.classList.add('hnb__hide');
        };

        // 月曆
        const dateAlert = document.querySelector(".dateAlert");
        const currentTime = new Date()
        const config = {
          locale: 'zh_tw',
          //enableTime: true, //可選時與分
          dateFormat: "Y/m/d", //時間格式
          time_24hr: true, //24 時制
          minuteIncrement: 15, //分鐘每次選擇間隔單位
          allowInput: true, //可輸入控制
          //minDate: "today", //可選最小時間，可直接接受 'today' 字串
          //maxDate: currentTime.setMonth(currentTime.getMonth() + 1), //可選最大時間，從今天起一個月
          onChange: function (selectedDates, dateStr, instance) {
            console.log(`你現在點選的是 ${instance.input.id}，時間為 ${selectedDates} / ${dateStr}`);
            checkDateTime(dateStr, instance.input.id);
          }
        };
        flatpickr('#startDate, #endDate', config);

        let startDateValue = null
        let endDateValue = null

        // 辨別結束日期須晚於開始日期
        function checkDateTime(dateStr, id) {
          if (id === "startDate") {
            startDateValue = dateStr
          }

          if (id === "endDate") {
            endDateValue = dateStr
          }

          if (startDateValue > endDateValue) {
            dateAlert.classList.remove("d-none");
          } else {
            dateAlert.classList.add("d-none");
          }
        };

        // // 匯票到期日 / 匯票發票日 - 日期選擇器
        // flatpickr('#draftDate, #invoiceDate', config);

    </script>
    @{
        await Html.RenderPartialAsync("~/Views/MainPage/Module/PrepareQuery.cshtml");
    }
}