<tr data-lcno="099700049161000861" data-draftno="H970000002">
    <td class="text-center" width="50">1</td>
    <td class="text-center text-nowrap">
        <a href="javascript:reviewLcApp()" class="hnb__link--text">H970000002</a>
    </td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">56781234</td>
    <td class="text-center text-nowrap">
        <a href="javascript:changeLcType('即期')" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal">099700049161000861</a>
    </td>
    <td class="text-end text-nowrap">NT$ 198,000</td>
    <td class="text-center">2025/06/05</td>
    <td class="text-center">2025/06/05</td>
    <td class="text-end text-nowrap">NT$ 1,000</td>
    <td class="text-nowrap">中國鋼鐵股份有限公司</td>
</tr>
<tr data-lcno="099700049161000861" data-draftno="H970000002">
    <td class="text-center" width="50">1</td>
    <td class="text-center text-nowrap">
        <a href="javascript:reviewLcApp()" class="hnb__link--text">H970000002</a>
    </td>
    <td class="text-nowrap">網際測試股份有限公司</td>
    <td class="text-center text-nowrap">56781234</td>
    <td class="text-center text-nowrap">
        <a href="javascript:changeLcType('即期')" class="hnb__link--text" data-bs-toggle="modal" data-bs-target="#lcDetailModal">099700049161000861</a>
    </td>
    <td class="text-end text-nowrap">NT$ 198,000</td>
    <td class="text-center">2025/06/05</td>
    <td class="text-center">2025/06/05</td>
    <td class="text-end text-nowrap">NT$ 1,000</td>
    <td class="text-nowrap">中國鋼鐵股份有限公司</td>
</tr>