<!-- 匯票資料 -->
<div id="lcAppList" class="hnb__hide">
    <h1 class="py-2 fs-4 fw-bolder">匯票資料</h1>
    <div class="mb-2 card">
        <div class="card-body bg-light">
            <div class="table-responsive">
                <table class="mb-0 table table-striped table-sm hnb__table hnb__bg--white">
                    <tbody>
                        <tr>
                            <th width="20%" scope="col" class="hnb__tbhd2 text-nowrap">信用狀號碼：</th>
                            <td>LC12345</td>
                            <th width="20%" scope="col" class="hnb__tbhd2 text-nowrap">受益人名稱：</th>
                            <td>網際公司</td>
                        </tr>
                        <tr>
                            <th scope="col" class="hnb__tbhd2 text-nowrap">押匯/承兌金額：</th>
                            <td class="text-end">NT$ 50,000,000</td>
                            <th scope="col" class="hnb__tbhd2 text-nowrap">押匯/承兌日期：</th>
                            <td>2024/05/04</td>
                        </tr>
                        <tr>
                            <th scope="col" class="hnb__tbhd2 text-nowrap">匯票到期日：</th>
                            <td>2025/04/05</td>
                            <th scope="col" class="hnb__tbhd2 text-nowrap">匯票發票日：</th>
                            <td>2025/04/05</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card my-3 mx-auto shadow-sm" style="max-width: 750px">
                <div class="card-body p-4">
                    <h5 class="card-subtitle fw-bold mb-2 hnb__text--red">押匯方式：</h5>
                    <div class="my-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1" id="check1" checked disabled>
                            <label class="d-flex align-items-center" for="check1">
                                <span class="text-nowrap">押匯</span>
                            </label>
                        </div>
                    </div>
                    <div class="ps-4">
                        <div class="fw-bold text-nowrap">撥款方式：</div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="pay1" disabled>
                            <label class="d-flex align-items-center" for="pay1">
                                <span class="text-nowrap">本行-轉入帳號：</span>
                                <span>---</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="pay2" disabled>
                            <label for="pay2">
                                跨行-付款內容詳受益人匯出匯款申請書
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="mt-2 form-check-input" type="radio" name="flexRadioDefault" id="pay3" checked disabled>
                            <label class="d-flex align-items-start" for="check3">
                                <span class="py-1 text-nowrap">轉入科目：</span>
                                <div>
                                    <div class="py-1 d-flex align-items-center">
                                        <span class="text-nowrap">轉入會計科目：</span>
                                        <span>13097-099：其他應收款-雜項</span>
                                    </div>
                                    <div class="py-1 d-flex align-items-center">
                                        <span class="text-nowrap">轉入銷帳序號：</span>
                                        <span>---</span>
                                    </div>
                                    <div class="py-1 d-flex align-items-center">
                                        <span class="text-nowrap">轉入科目金額：</span>
                                        <span>---</span>
                                    </div>
                                    <div class="py-1 d-flex align-items-center">
                                        <span class="text-nowrap">轉入科目摘要：</span>
                                        <span>---</span>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div>
                            <span class="fw-bold">押匯手續費：</span>
                            <span class="me-5">300.0</span>
                            <span class="fw-bold">是否扣印花稅：</span>
                            <span>是</span>
                        </div>
                        <div>
                            <span class="fw-bold text-nowrap">押匯放款核號：</span>
                            <span>1141161000</span>
                            <button type="button" class="ms-5 m-1 px-3 btn btn-sm hnb__btn--default text-nowrap">
                                檢查押匯核號
                            </button>
                        </div>
                        <div>
                            <span class="fw-bold text-nowrap">貸放經理人 ID：</span>
                            <span>G101057626</span>
                        </div>
                        <div>
                            <span class="fw-bold text-nowrap">徵審主管 ID-A：</span>
                            <span>G101057626</span>
                        </div>
                        <div>
                            <span class="fw-bold text-nowrap">徵審主管 ID-B：</span>
                            <span>---</span>
                        </div>
                        <div class="d-flex">
                            <div class="fw-bold text-nowrap">風險條件：</div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6 d-flex">
                                        <span class="fw-bold text-nowrap">風險類別一：</span>
                                        <span>B1 應收信用狀款-存款或存單</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別一百分比 %：</span>
                                        <span>100</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別二：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別二百分比 %：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別三：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別三百分比 %：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別四：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別四百分比 %：</span>
                                        <span>--</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0 mb-1 border border-0 border-top border-secondary">
                    <div class="my-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1" id="check2" disabled>
                            <label class="d-flex align-items-center" for="check2">
                                <span class="text-nowrap">承兌</span>
                            </label>
                        </div>
                    </div>
                    <div class="ps-4">
                        <div>
                            <span class="fw-bold text-nowrap">承兌手續費：</span>
                            <span class="me-5">100.0</span>
                            <span class="fw-bold">是否扣印花稅：</span>
                            <span>是</span>
                        </div>
                        <div>
                            <span class="fw-bold text-nowrap">承兌放款核號：</span>
                            <span>---</span>
                        </div>
                        <div>
                            <span class="fw-bold text-nowrap">貸放經理人 ID：</span>
                            <span>G101057626</span>
                        </div>
                        <div>
                            <span class="fw-bold text-nowrap">徵審主管 ID-A：</span>
                            <span>G101057626</span>
                        </div>
                        <div>
                            <span class="fw-bold text-nowrap">徵審主管 ID-B：</span>
                            <span>---</span>
                        </div>
                        <div>
                            <span class="fw-bold text-nowrap">押匯手續費：</span>
                            <span class="me-5">---</span>
                            <span class="fw-bold">是否扣印花稅：</span>
                            <span>--</span>
                        </div>
                        <div class="d-flex">
                            <div class="fw-bold text-nowrap">風險條件：</div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6 d-flex">
                                        <span class="fw-bold text-nowrap">風險類別一：</span>
                                        <span>B1 應收信用狀款-存款或存單</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別一百分比 %：</span>
                                        <span>100</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別二：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別二百分比 %：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別三：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別三百分比 %：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別四：</span>
                                        <span>--</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="fw-bold text-nowrap">風險類別四百分比 %：</span>
                                        <span>--</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-subtitle fw-bold my-3 hnb__text--red">費用付款方式：</h5>
                    <div class="my-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio2" id="check21" checked disabled>
                            <label class="d-flex align-items-center" for="check21">
                                <span class="text-nowrap">現金</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio2" id="check22" disabled>
                            <label class="d-flex align-items-center" for="check22">
                                <span class="text-nowrap">支存帳號：</span>
                                <span class="me-5 text-nowrap">--</span>
                                <span class="text-nowrap">支票號碼：</span>
                                <span class="text-nowrap">--</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio2" id="check23" disabled>
                            <label class="d-flex align-items-center" for="check23">
                                <span class="text-nowrap">活存帳號：</span>
                                <span class="me-5 text-nowrap">--</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio2" id="check24" disabled>
                            <label class="d-flex align-items-center" for="check24">
                                <span class="text-nowrap">內扣</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio2" id="check24" disabled>
                            <label class="d-flex" for="check24">
                                <span class="text-nowrap">轉出科目：</span>
                                <span class="me-5 text-nowrap">
                                    ---
                                </span>
                                <span>
                                    <span class="text-nowrap">轉出會計科目：</span>
                                    <span class="me-5 text-nowrap">
                                        ---
                                    </span><br>
                                    <span class="text-nowrap">轉出銷帳序號：</span>
                                    <span class="me-5 text-nowrap">
                                        ---
                                    </span><br>
                                    <span class="text-nowrap">轉出科目金額：</span>
                                    <span class="me-5 text-nowrap">
                                        0
                                    </span><br>
                                    <span class="text-nowrap">轉出科目摘要：</span>
                                    <span class="me-5 text-nowrap">
                                        ---
                                    </span><br>
                                </span>
                            </label>
                        </div>
                    </div>
                    <h5 class="card-subtitle fw-bold my-3 hnb__text--red">押匯手續費優惠：</h5>
                    <div class="my-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="check1" id="check31" disabled>
                            <label class="d-flex align-items-center" for="check31">
                                <span class="text-nowrap">押匯手續費優惠</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--cancel text-nowrap" onclick="cancelHandler()">
                        取消
                    </button>
                    <button type="button" class="m-1 px-3 btn btn-sm hnb__btn--default text-nowrap" onclick="confirmReview()">
                        當日沖正(EC)交易
                    </button>
                    <button type="button" id="notConfirmBtn" class="m-1 px-3 btn btn-sm hnb__btn--red text-nowrap"
                            onclick="notConfirmReview()">
                        不沖正
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>